<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.select :university, InstructorInfo.universities_as_optons(lang), {}, { class: 'select2' } %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.select :degree_completed, InstructorInfo.degree_as_optons(lang), {}, { class: 'select2' } %>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-12">
  <p> <p>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :specialization, I18n.t("registration.step1.select_specialization") %>
      <%= f.select :specialization, InstructorInfo.spcializations_as_optons(lang), { :multiple => true, :size => 5 }, { class: 'select2 specialization-dd', :multiple => true, :size => 5  }%>
    </div>
  </div>
  <!-- <div class="col-md-6"> -->
    <!-- <div class="form-group"> -->
      <%#= f.select :is_graduate, InstructorInfo.is_graduate_options(lang), {}, { class: 'select2' } %>
    <!-- </div> -->
  <!-- </div> -->
</div>


<script type="text/javascript">

  setTimeout(function(){
    $( ".specialization-dd" ).select2({
      multiple: true,
      placeholder: 'tet'
    })
  },1000)


</script>
