<h4>Hello <%= @student.first_name%>,</h4>

<p>Congratulations! Your service request has been accepted by <%= @instructor.user_info.first_name %>.</p>
<a href="http://www.feelingyt.com/">Login</a>
<%= link_to "View Request", @txn_path %>
<br/>
<br/>
<p>Regards, <br/> Feeling Education</p>
