<p>Hi Yuting!</p>

<p>A new payment withdrawal request has been submitted. Details are below. You can go to admin panel to process this.</p>
<p>Name: <%= @current_user.email%> </p>
<p>Amount: <%= @user_wallet_activity.amount%> </p>
