<section class="section payment-confirmation">
  <div class="container">
    <div class="header">
        <h1><%= I18n.t "account_confirmation.title" %></h1>
        <p><%= I18n.t "account_confirmation.text" %></p>
        <br/>
        <br/>
        <%= link_to I18n.t("account_confirmation.login_txt"), new_user_session_path, remote: true, class: "btn btn-default" %>
    </div>

  </div>
</section>
