<section class="section mentors-wrapper">
  <div class="container">
    <div class="header">
        <h1>Congratulations!</h1>
        <p>You have successfully confirmed your account. Click on the button below to Log In to your account.</p>
        <br/>
        <br/>
        <%= link_to "Log In", new_user_session_path, remote: true, class: "btn btn-default" %>
    </div>

  </div>
</section>
