<section class="section terms-wrapper">
  <div class="container">
    <div class="header">
      <h1>Terms & Conditions</h1>
    </div>

    <div class="sec">
      <h3>Section title</h3>
      <p>Section 1 content</p>
      <p>Section 1 content</p>
      <p>Section 1 content</p>
    </div>

    <div class="sec">
      <h3>Section title</h3>
      <p>Section 1 content</p>
    </div>

    <div class="sec">
      <h3>Section title</h3>
      <p>Section 1 content</p>
    </div>

    <div class="sec">
      <h3>Section title</h3>
      <p>Section 1 content</p>
    </div>


  </div>
</section>
