<section class="section terms-wrapper">
  <div class="container">
    <div class="header">
      <h1>Terms & Conditions</h1>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="vertical-nav-item active" data-target="#sec1">飞灵教育账号注销条件</div>
        <div class="vertical-nav-item" data-target="#sec2">飞灵教育平台争议处理规则</div>
        <div class="vertical-nav-item" data-target="#sec3">飞灵教育用户协议（与中国留学生</div>
        <div class="vertical-nav-item" data-target="#sec4">飞灵教育平台规则</div>
        <div class="vertical-nav-item" data-target="#sec5">飞灵教育服务协议（与海外自由职业者</div>
      </div>
      <div class="col-sm-9 content-wrapper">

        <div class="sec" id="sec1">
          <h2>飞灵教育账号注销条件</h2>
          <h3>亲爱的用户,如果您执意放弃账户，您的账户需同时满足以下条件：</h3>

          <p>1、没有进行中的交易，且最后一笔订单完成时间大于15天；</p>
          <p>2、90天内没有发布或编辑过服务（包括已完成和删除的服务）；</p>
          <p>3、没有过其他一些记录，包括投诉举报或被举报记录；</p>
          <p>4、账户需要是正常使用中并且没有过一些限制账户的记录；</p>
          <p><strong>如果您的账户满足注销条件，请点此提交注销。账户一旦注销，所有的交易记录都会一并删除的。</strong><p>
        </div>


          <div class="sec hidden" id="sec2">
            <h2>飞灵教育平台争议处理规则 </h2>
            <h3>第一章 总则</h3>
            <p><strong>第一节 概述</strong></p>
            <p><strong>第一条</strong></p>
            <p>为规范合同争议调解工作，及时解决合同争议，保护飞灵教育平台平台网站及客户端交易双方当事人的合法权益，依据《飞灵教育服务协议》、《飞灵教育用户协议》、《飞灵教育平台规则》，制定本规则。</p>
            <p><strong>第二条</strong></p>
            <p>买卖双方在飞灵教育平台上交易发生合同争议，适用本规则规定。</p>
            <p><strong>第三条</strong></p>
            <p>购买者用户向服务者用户发起维权或任一方直接向飞灵教育平台投诉，飞灵教育平台将根据本规则的规定对买卖双方的争议做出处理。</p>
            <p><strong>第四条</strong></p>
            <p>飞灵教育平台通过飞灵教育平台系统、电子邮件、短信或电话等方式向买卖双方发送的与争议处理相关的提示或通知，构成争议处理依据及结论的有效组成部分。</p>
            <p><strong>第二节 定义</strong></p>
            <p>飞灵教育平台：指包括飞灵教育网（域名为 www.feelingyt.com）网站及客户端。</p>
            <p><strong>第五条</strong></p>
            <p>退货退款，是指在服务者用户签收购买者用户退货后，交易款项支付给购买者用户。</p>
            <p><strong>第六条</strong></p>
            <p>部分退款，是指交易款项部分支付给购买者用户，余款打款给服务者用户。</p>
            <p><strong>第七条</strong></p>
            <p>退款，是指交易款项支付给购买者用户，服务由服务者用户自行和购买者用户协商处理。</p>
            <p><strong>第八条</strong></p>
            <p>打款，是指交易款项支付给服务者用户。</p>
            <p><strong>第九条</strong></p>
            <p>交易成功，是指订单状态显示“交易成功”。</p>
            <p><strong>第十条</strong></p>
            <p>质量问题，是指服务者用户所出售的服务存在违反承诺或相关法律法规或飞灵教育平台相关要求的情形。</p>
            <p><strong>第十一条</strong></p>
            <p>描述不当，是指服务，或经飞灵教育平台官方抽检、排查到的服务存在与服务者用户描述不相符，或服务者用户未对服务瑕疵等信息进行披露等情形，妨害购买者用户权益的行为。</p>
            <p><strong>第十二条</strong></p>
            <p>飞灵教育平台规则，是指《飞灵教育平台规则》。</p>
            <p><strong>第十三条</strong></p>
            <p>本规则未有特别列明的，参照飞灵教育平台规则中的相关定义。</p>
            <p><strong>第二章 争议受理</strong></p>
            <p><strong>第一节 受理期限</strong></p>
            <p><strong>第十四条</strong></p>
            <p>购买者用户应当在飞灵教育平台规定的时限内在线发起维权主张。</p>
            <p><strong>第十五条</strong></p>
            <p>被行政机关认定的禁售服务，不受受理期限限制。</p>
            <p><strong>第十六条</strong></p>
            <p>购买者用户提供司法机关出具的生效法律文书的，不受受理期限限制。</p>
            <p><strong>第十七条</strong></p>
            <p>购买者用户未在飞灵教育平台规定的时限内在线发起维权主张，但能够提供凭证证实服务存在品质等相关问题的，不受受理期限限制。</p>
            <p><strong>第十八条</strong></p>
            <p>服务者用户承诺或双方另行约定售后服务期限的，不受受理期限限制。</p>
            <p><strong>第十九条</strong></p>
            <p>本规则或飞灵教育平台其他规则对受理期限有特别规定的，从其规定。</p>
            <p><strong>第二节 受理范围</strong></p>
            <p><strong>第二十条</strong></p>
            <p>服务者用户应妥善管理其所发布的服务信息。对近90天内未编辑、未经浏览且未成交的服务，飞灵教育平台网将定期进行服务删除。</p>
            <p><strong>第二十三条</strong></p>
            <p>飞灵教育平台受理买卖双方在飞灵教育平台上交易产生的争议处理申请，但出现如下情形的争议申请，飞灵教育平台有权不予受理，买卖任一方有权自行通过司法机关等途径向相对方主张权利：</p>
            <p>（一）购买者用户未在本规则规定的受理期限内发起维权的。</p>
            <p>（二）交易订单显示的服务或服务与买卖双方约定的实际交易服务或服务不一致，导致交易事实无法查清的，因该实际交易服务或服务产生争议的。</p>
            <p>（三）买卖双方经自行协商达成退款或退货退款协议并履行完毕，一方或双方反悔产生争议的。</p>
            <p>（四）买卖双方进行虚假交易或利用信用卡等实施套现行为且交易成功的。</p>
            <p>（五）交易做退款处理后，因服务者用户需要取回服务产生争议的。</p>
            <p>（六）除飞灵教育平台规则规定的情形外，购买者用户主张交易引发的额外损失或法定赔偿事宜的。</p>
            <p><strong>第二十一条</strong></p>
            <p>本规则对其他不予受理情形有特别规定的，从其规定。</p>
            <p><strong>第二十二条</strong></p>
            <p>本规范所称的交易，系指由服务者用户向购买者用户提供服务或购买者用户委托服务者用户处理对应事务的交易。</p>
            <p><strong>第二十三条</strong></p>
            <p>服务订单交付时间届满前，服务者用户已产生实质服务行为的，或服务者用户依约已完成服务的，购买者用户要求退款或拒绝接受服务的，需与服务者用户协商一致。</p>
            <p><strong>第二十四条</strong></p>
            <p>服务者用户未按约定履行服务订单的，依据订单履行的相关情形，分别作如下处置，双方另有约定的从其约定：</p>
            <p>（一）服务者用户无正当理由拒绝履行服务订单，或部分履行服务订单，交易做退款处理。</p>
            <p>（二）服务者用户部分履行服务订单，已履行部分可独立使用，交易按未履行部分比例做相应退款处理。</p>
            <p>（三）服务者用户存在延迟履行服务订单的：服务者用户在购买者用户催告要求交付服务成果或申请退款之时起24小时内，服务者用户仍无法交付服务成果的，交易支持退款购买者用户；在购买者用户催告要求交付服务成果或申请退款之时起24小时内，服务者用户能够交付服务成果的，飞灵教育平台网服务者用户按订单实际成交金额的5%（赔付金额最低一元，最高三十元）予以赔付购买者用户后，剩余订单金额打款服务者用户处理。</p>
            <p>（四）服务者用户的延迟履行行为致使购买者用户合同目的无法实现的，交易将视服务内容进行退货退款或直接退款处理。合同目的实现与否，飞灵教育平台将基于服务内容，并以普通大众的认知水准及日常经验进行判断。</p>
            <p>（五）服务者用户在提供服务过程中，非因购买者用户原因而自行加价的，购买者用户可以拒绝接受服务，交易支持退款购买者用户。购买者用户已接受服务的，可要求服务者用户退还差价</p>
            <p>服务者用户服务过程中，若基于服务履行之必要，需要购买者用户配合提供协助的，或对购买者用户的配合行为存在时限要求的，服务者用户应当在服务详情页予以显著明示或双方事先约定一致。否则购买者用户有权拒绝并由服务者用户承担交易不利后果。</p>
            <p><strong>第二十九条</strong></p>
            <p>用户发生违规行为的，其违规行为应当纠正，并扣以一定分值且公布3天。为推动市场诚信体系建设，维护其他用户、社会公众以及飞灵教育平台及其关联方的合法权益，飞灵教育平台网将视情况向行政机关和/或第三方机构披露被飞灵教育平台处以严重违规处罚的用户的相关信息及其违规情况。</p>
            <p>服务者用户向购买者用户提出配合请求的，购买者用户应在合理期限内予以配合。若购买者用户无正当理由怠于或拒绝提供必要的配合，导致服务者用户服务成本增加、服务履行期限延迟、服务成果无法实现等不利后果的，应由购买者用户承担不利后果，但服务者用户仍应及时中止履行服务并采取合理措施防止服务成本的扩大。在上述购买者用户责任情形下，相关交易争议作如下处置：</p>
            <p>（一）若服务成果完全无法实现，但服务者用户确已产生服务成本的，购买者用户在承担相应的服务成本后，交易作退款处理。</p>
            <p>（二）若服务成果已部分实现，则综合评估该部分服务成果的价值比例，并结合订单金额酌情计算其对应价款，交易作部分打款、部分退款处理。</p>
            <p>（三）若服务成果已部分实现，同时，剩余未实现的服务成果也已产生服务成本。则分别依照上述第1、2 项处理方法，计算应支付的价款与应承担的服务成本。</p>
            <p><strong>“显著”的界定：</strong></p>
            <p>明示的内容应当位于信息展示界面的“服务详情”版块中，居该版块靠前或居中位置，字体大于该版块其他编辑字体并加粗。</p>
            <p><strong>“合理期限”：</strong></p>
            <p>系指服务者用户通过电子邮件或购买者用户应当知晓的其他方式（如手机短信）向购买者用户发出通知要求配合之时的次日起48小时内。</p>
            <p><strong>“服务成本”：</strong></p>
            <p>系指服务者用户在提供服务的过程中产生的必要费用支出，具体将由飞灵教育平台根据服务者用户举证，以普通大众的认知水准及日常经验进行判断，但最高不超过订单实际成交金额。</p>
            <p><strong>第二十五条</strong></p>
            <p>语言翻译类服务，服务者用户应当确保所交付译件的正确性，依据翻译出错情形，交易作如下处置，双方另有约定的从其约定：</p>
            <p>1、译件出现1-3处错误的，交易退款20%。</p>
            <p>2、译件出现4-5处错误的，交易退款50%。</p>
            <p>3、译件出现错误超过5处的，交易退款处理。</p>
            <p>“错误”系指：译件中存在错译、漏译情形，重复性错误按一处计算。</p>
            <p><strong>第二十六条</strong></p>
            <p>特别说明：因飞灵教育平台系普通的第三方交易平台，并非专业的司法机构或鉴定机构：</p>
            <p>1、在飞灵教育平台对服务成本、损失或价款等给付内容的进行酌定并实施款项分割前，买卖任一方均可向飞灵教育平台提出中止飞灵教育平台的争议处理服务，并通过司法途径向对方发起诉讼。</p>
            <p>2、在飞灵教育平台对服务成本、损失或价款等给付内容的进行酌定并实施款项分割前，买卖任2、若飞灵教育平台已经作出服务成本、损失或价款等给付内容的酌定并已实施款项分割的，并不影响双方通过司法途径继续向对方提出主张。</p>
            <p><strong>第二十七条</strong></p>
            <p>本规范未特别列明的事宜，依照相关法律法规执行。</p>
          </div>

          <div class="sec hidden" id="sec3">
            <h2>飞灵教育用户协议　　版本生效日期：2017年 12 月 31 日 </h2>
            <h3>【首部及导言】</h3>
            <p>欢迎您使用飞灵教育的服务！</p>
            <p>为使用飞灵教育的服务，您应当阅读并遵守《飞灵教育用户协议》（以下简称“本协议”）。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、管辖与法律适用条款，以及开通或使用某项服务的单独协议。限制、免责条款可能以黑体加粗或加下划线的形式提示您重点注意。除非您已阅读并接受本协议所有条款，否则您无权使用飞灵教育提供的服务。您使用飞灵教育的服务即视为您已阅读并同意上述协议的约束。如果您未满18周岁，请在法定监护人的陪同下阅读本协议，并特别注意未成年人使用条款。</p>
            <p><strong>一、协议的范围</strong></p>
            <p>1.1 本协议是您与飞灵教育之间关于用户使用飞灵教育相关服务所订立的协议。“飞灵教育”是指飞灵教育有限公司及其相关服务可能存在的运营关联单位。“用户”是指使用飞灵教育相关服务的使用人，在本协议中更多地称为“您”。</p>
            <p>1.2 本协议项下的服务是指飞灵教育向用户提供的包括但不限于教育信息咨询、自费出国留学中介等产品及服务（以下简称“本服务”）。</p>
            <p>1.3 本协议内容同时包括飞灵教育费用协议、使用条款、缓存政策、隐私权政策、飞灵教育导师协议、飞灵工资协议、飞灵教育软件执照条款、应用程序条跨使用、每小时、奖励和支付条款以及飞灵教育定价指导,且您在使用飞灵教育某一特定服务时，该服务可能会另有单独的协议、相关业务规则等（以下统称为“单独协议”）。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。您对前述任何业务规则、单独协议的接受，即视为您对本协议全部的接受。</p>
            <p><strong>二、帐号与密码安全</strong></p>
            <p>2.1 您在使用飞灵教育的服务时需要注册一个帐号。您应诚信向本站提供注册资料，并同意提供的注册资料真实、准确、完整、合法有效，注册资料如有变动的，应及时更新其注册资料。如您提供的注册资料不合法、不真实、不准确、不详尽的，需承担因此引起的相应责任及后果。</p>
            <p>2.2 飞灵教育特别提醒您应妥善保管您的帐号和密码。当您使用完毕后，应安全退出。因您保管不善可能导致遭受盗号或密码失窃，责任由您自行承担。若发现任何非法使用用户账号或存在安全漏洞的情况，请立即通知飞灵教育并向公安机关报案。</p>
            <p><strong>三、用户个人信息保护</strong></p>
            <p>3.1 您在飞灵教育进行浏览、购买服务等活动时，涉及真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，飞灵教育将运用各种安全技术和程序建立完善的管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。</p>
            <p>3.2 除非得到您的授权或法律另有规定，飞灵教育不会将您的个人信息转移或披露给任何非关联的第三方。</p>
            <p>3.3 飞灵教育非常重视对未成年人个人信息的保护。若您是18周岁以下的未成年人，在使用飞灵教育的服务前，应事先取得您家长或法定监护人（以下简称"监护人"）的书面同意。</p>
            <p><strong>四、使用本服务的方式</strong></p>
            <p>4.1 除非您与飞灵教育另有约定，您同意本服务仅为您个人使用。</p>
            <p>4.2 您应当通过飞灵教育提供或认可的方式使用本服务。您依本协议条款所取得的权利不可转让。</p>
            <p>4.3 网站上的信息随时都有可能发生变动，飞灵教育不作特别通知。</p>
            <p>4.4 飞灵教育将通过电子邮件的方式为您提供注意事项、交流事宜等文字性服务/声明。（是一些后续加的条款性东西用电子版还是体用的关于留学的服务内容是电子版？）您应确保注册时提供的电子邮箱可以正常接收邮件，如有变更，您需及时在网站上进行变更登记，如因您的不及时变更造成无法接收邮件或延迟接收，飞灵教育不承担相应的责任。</p>
            <p>4.5 您不得使用未经飞灵教育授权的插件、外挂或第三方工具对本协议项下的服务进行干扰、破坏、修改或施加其他影响。</p>
            <p><strong>五、按现状提供服务</strong></p>
            <p>5.1 飞灵教育仅向您提供飞灵教育平台服务，您了解飞灵教育平台上的信息系用户自行发布，且可能存在风险和瑕疵。飞灵教育将通过依法建立相关检查监控制度尽可能保障您在飞灵教育平台上的合法权益及良好体验。同时，鉴于飞灵教育平台具备存在海量信息及信息网络环境下信息与实物相分离的特点，飞灵教育无法逐一审查服务的信息，无法逐一审查交易所涉及的服务的质量、安全以及合法性、真实性、准确性，对此您应谨慎判断。</p>
            <p>5.2 您理解并同意，飞灵教育的服务是按照现有技术和条件所能达到的现状提供的。飞灵教育会尽最大努力向您提供服务，确保服务的连贯性和安全性；但飞灵教育不能随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。</p>
            <p><strong>六、自备设备</strong></p>
            <p>您应当理解，您使用飞灵教育的服务需自行准备与相关服务有关的终端设备，包括：</p>
            <p>（a）有效的电子邮箱地址；</p>
            <p>（b） 一个可以运行Windows或Mac的电脑系统；</p>
            <p>（c）连接互联网；</p>
            <p>（d）能够兼容最新版本或能够支持使用的软件、浏览器、插件以及能够保证用户体验的应用</p>
            <p>（e）一个准确地呈现PDF文件的Adobe阅读器；</p>
            <p>（f）一个可以提供以上要求的电脑。并承担所需的费用（如电话费、上网费等费用）。</p>
            <p><strong>七、收费服务</strong></p>
            <p>7.1 飞灵教育的部分服务是以收费方式提供的，如您使用收费服务，请遵守相关的协议。当您在飞灵教育平台购买服务时，请您务必仔细确认所购服务的时间、内容、限制性要求等重要事项，并在购买时核实您的联系地址、电话、电子邮箱地址等信息。如您填写的联系方式非您本人，则该收货人的行为和意思表示产生的法律后果均由您承担。您的购买行为应当基于真实的消费需求，不得存在对服务实施恶意购买、恶意维权等扰乱飞灵教育平台正常交易秩序的行为。基于维护飞灵教育平台交易秩序及交易安全的需要，飞灵教育发现上述情形时可主动执行关闭相关交易订单等操作。</p>
            <p>7.2 飞灵教育可能根据实际需要对收费服务的收费标准、方式进行修改和变更，飞灵教育也可能会对部分免费服务开始收费。前述修改、变更或开始收费前，飞灵教育将在相应服务页面进行通知或公告。如果您不同意上述修改、变更或付费内容，则应停止使用该服务。如涉及关于服务费增加事项，飞灵教育会至少提前30日通知您。</p>
            <p><strong>八、第三方提供的产品或服务</strong></p>
            <p>您在飞灵教育平台上使用第三方提供的产品或服务时，除遵守本协议约定外，还应遵守第三方的用户协议。飞灵教育和第三方对可能出现的纠纷在法律规定和约定的范围内各自承担责任。</p>
            <p><strong>九、知识产权声明</strong></p>
            <p>9.1 飞灵教育在本服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权归飞灵教育所有，用户在使用本服务中所产生的内容的知识产权归用户或相关权利人所有。</p>
            <p>9.2 除另有特别声明外，飞灵教育提供本服务时所依托软件的著作权、专利权及其他知识产权均归飞灵教育所有。</p>
            <p>9.3 上述及其他任何本服务包含的内容的知识产权均受到法律保护，未经飞灵教育、用户或相关权利人书面许可，任何人不得以任何形式进行使用或创造相关衍生作品。</p>
            <p><strong>十、用户违法行为</strong></p>
            <p>10.1 您在使用本服务时须遵守法律法规，不得利用本服务从事违法违规行为，包括但不限于：</p>
            <p>（1）发布、传送、传播、储存危害国家安全统一、破坏社会稳定、违反公序良俗、侮辱、诽谤、淫秽、暴力以及任何违反国家法律法规的内容；</p>
            <p>（2）发布、传送、传播、储存侵害他人知识产权、商业秘密等合法权利的内容；</p>
            <p>（3）恶意虚构事实、隐瞒真相以误导、欺骗他人；</p>
            <p>（4）发布、传送、传播广告信息及垃圾信息；</p>
            <p>（5）其他法律法规禁止的行为。</p>
            <p>10.2 如果您违反了本条约定，相关国家机关或机构可能会对您提起诉讼、罚款或采取其他制裁措施，并要求飞灵教育给予协助。造成损害的，您应依法予以赔偿，飞灵教育不承担任何责任。</p>
            <p>10.3 如果飞灵教育发现或收到他人举报您发布的信息违反本条约定，飞灵教育有权进行独立判断并采取技术手段予以删除、屏蔽或断开链接。同时，飞灵教育有权视用户的行为性质，采取包括但不限于暂停或终止服务，限制、冻结或终止账号使用，追究法律责任等措施。</p>
            <p>10.4 您违反本条约定，导致任何第三方损害的，您应当独立承担责任；飞灵教育因此遭受损失的，您也应当一并赔偿。</p>
            <p><strong>十一、遵守当地法律监管</strong></p>
            <p>11.1 您在使用本服务过程中应当遵守当地相关的法律法规，并尊重当地的道德标准和风俗习惯。如果您的行为违反了当地法律法规或道德风俗，您应当为此独立承担责任。</p>
            <p>11.2 您应避免因使用本服务而使飞灵教育卷入政治和公共事件，否则飞灵教育有权暂停或终止对您的服务。</p>
            <p><strong>十二、用户发送、传播的内容与第三方投诉处理</strong></p>
            <p>12.1 您通过本服务发送或传播的内容（包括但不限于网页、文字、图片、音频、视频、图表等）均由您自行承担责任。</p>
            <p>12.2 您发送或传播的内容应有合法来源，相关内容为您所有或您已获得权利人的授权。</p>
            <p>12.3 您同意飞灵教育可为履行本协议或提供本服务的目的而使用您发送或传播的内容。</p>
            <p>12.4 如果飞灵教育收到权利人通知，主张您发送或传播的内容侵犯其相关权利的，您同意飞灵教育有权进行独立判断并采取删除、屏蔽或断开链接等措施。</p>
            <p>12.5 您使用本服务时不得违反国家法律法规、侵害他人合法权益。您理解并同意，如您被他人投诉侵权或您投诉他人侵权，飞灵教育有权将争议中相关方的主体、联系方式、投诉相关内容等必要信息提供给其他争议方或相关部门，以便及时解决投诉纠纷，保护他人合法权益。</p>
            <p><strong>十三、不可抗力及其他免责事由</strong></p>
            <p>13.1 您理解并同意，在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，飞灵教育将努力在第一时间与相关单位配合，及时进行修复，但是由此给您造成的损失飞灵教育在法律允许的范围内免责。</p>
            <p>13.2 在法律允许的范围内，飞灵教育对以下情形导致的服务中断或受阻不承担责任：</p>
            <p>（1）受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；</p>
            <p>（2）用户或飞灵教育的电脑软件、系统、硬件和通信线路出现故障；</p>
            <p>（3）用户操作不当；</p>
            <p>（4）用户通过非飞灵教育授权的方式使用本服务；</p>
            <p>（5）其他飞灵教育无法控制或合理预见的情形。</p>
            <p>13.3 您理解并同意，在使用本服务的过程中，可能会遇到网络信息或其他用户行为带来的风险，飞灵教育不对任何信息的真实性、适用性、合法性承担责任，也不对因侵权行为给您造成的损害负责。这些风险包括但不限于：</p>
            <p>（1）来自他人匿名或冒名的含有威胁、诽谤、令人反感或非法内容的信息；</p>
            <p>（2）因使用本协议项下的服务，遭受他人误导、欺骗或其他导致或可能导致的任何心理、生理上的伤害以及经济上的损失；</p>
            <p>（3）其他因网络信息或用户行为引起的风险。</p>
            <p>13.4 您理解并同意，本服务并非为某些特定目的而设计，包括但不限于核设施、军事用途、医疗设施、交通通讯等重要领域。如果因为软件或服务的原因导致上述操作失败而带来的人员伤亡、财产损失和环境破坏等，飞灵教育不承担法律责任。</p>
            <p>13.5 飞灵教育依据本协议约定获得处理违法违规内容的权利，该权利不构成飞灵教育的义务或承诺，飞灵教育不能保证及时发现违法行为或进行相应处理。</p>
            <p>13.6 在任何情况下，您不应轻信借款、索要密码或其他涉及财产的网络信息。涉及财产操作的，请一定先核实对方身份，并请经常留意飞灵教育有关防范诈骗犯罪的提示</p>
            <p><strong>十四、协议的生效与变更</strong></p>
            <p>14.1 您使用飞灵教育的服务即视为您已阅读本协议并接受本协议的约束。</p>
            <p>14.2 飞灵教育有权在必要时修改本协议条款。您可以在相关服务页面查阅最新版本的协议条款。</p>
            <p>14.3 本协议条款变更后，如果您继续使用飞灵教育提供的软件或服务，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用飞灵教育提供的软件或服务。</p>
            <p><strong>十五、服务的变更、中断、终止</strong></p>
            <p>15.1 飞灵教育可能会对服务内容进行变更，也可能会中断、中止或终止服务。</p>
            <p>15.2 您理解并同意，飞灵教育有权自主决定经营策略。在飞灵教育发生合并、分立、收购、资产转让时，飞灵教育可向第三方转让本服务下相关资产；飞灵教育也可在单方通知您后，将本协议下部分或全部服务转交由第三方运营或履行。具体受让主体以飞灵教育通知的为准。</p>
            <p>15.3 如发生下列任何一种情形，飞灵教育有权不经通知而中断或终止向您提供的服务：</p>
            <p>（1）根据法律规定您应提交真实信息，而您提供的个人资料不真实、或与注册时信息不一致又未能提供合理证明；</p>
            <p>（2）您违反相关法律法规或本协议的约定；</p>
            <p>（3）按照法律规定或主管部门的要求；</p>
            <p>（4）出于安全的原因或其他必要的情形。</p>
            <p>15.4 飞灵教育有权按本协议7.2条的约定进行收费。若您未按时足额付费，飞灵教育有权中断、中止或终止提供服务。</p>
            <p>15.5 您有责任自行备份存储在本服务中的数据。如果您的服务被终止，飞灵教育可以从服务器上永久地删除您的数据,但法律法规另有规定的除外。服务终止后，飞灵教育没有义务向您返还数据。</p>
            <p><strong>十六、管辖与法律适用</strong></p>
            <p>16.1 您在飞灵教育平台交易过程中与其他用户发生争议时，您可根据您具体使用的服务及对您权益产生影响的具体行为对象确定与您履约的主体及争议相对方。飞灵教育有义务协调处理，但对最终的处理结果不承担任何法律责任。您或其他用户中任何一方均有权选择以下途径解决：</p>
            <p>（一）与争议相对方自主协商；</p>
            <p>（二）请求消费者协会或者其他依法成立的调解组织调解；</p>
            <p>（三）向有关行政部门投诉；</p>
            <p>（四）根据与争议相对方达成的仲裁协议（如有）提请仲裁机构仲裁；</p>
            <p>（五）向人民法院提起诉讼。</p>
            <p>16.2 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</p>
            <p>16.3 本协议签订地为中华人民共和国广东省深圳市罗湖区。</p>
            <p>16.4 若您和飞灵教育之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交中国广东省深圳市罗湖区人民法院管辖。</p>
            <p>16.5 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
            <p>16.6 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
            <p><strong>十七、未成年人使用条款</strong></p>
            <p>17.1 若用户未满18周岁，则为未成年人，应在监护人监护、指导下阅读本协议和使用本服务。</p>
            <p>17.2 未成年人用户涉世未深，容易被网络虚象迷惑，且好奇心强，遇事缺乏随机应变的处理能力，很容易被别有用心的人利用而又缺乏自我保护能力。因此，未成年人用户在使用本服务时应注意以下事项，提高安全意识，加强自我保护：</p>
            <p>（1）认清网络世界与现实世界的区别，避免沉迷于网络，影响日常的学习生活；</p>
            <p>（2）填写个人资料时，加强个人保护意识，以免不良分子对个人生活造成骚扰；</p>
            <p>（3）在监护人或老师的指导下，学习正确使用网络；</p>
            <p>（4）避免陌生网友随意会面或参与联谊活动，以免不法分子有机可乘，危及自身安全。</p>
            <p>17.3 监护人、学校均应对未成年人使用本服务时多做引导。特别是家长应关心子女的成长，注意与子女的沟通，指导子女上网应该注意的安全问题，防患于未然。</p>
            <p><strong>十八、其他</strong></p>
            <p>飞灵教育有限公司</p>
          </div>


          <div class="sec hidden" id="sec4">
            <h2>飞灵教育平台规则 </h2>
            <h3>第一章 概述</h3>
            <p><strong>第一条</strong></p>
            <p>为促进开放、透明、分享、责任的新商业文明，保障飞灵教育平台用户合法权益，维护飞灵教育平台正常经营秩序，特制定本规则。</p>
            <p><strong>第二条</strong></p>
            <p>飞灵教育平台规则，是对飞灵教育平台用户增加基本义务或限制基本权利的条款。</p>
            <p><strong>第三条</strong></p>
            <p>违规行为的认定与处理，应基于飞灵教育平台认定的事实并严格依规执行。飞灵教育平台用户在适用规则上一律平等。</p>
            <p><strong>第三条</strong></p>
            <p>违规行为的认定与处理，应基于飞灵教育平台认定的事实并严格依规执行。飞灵教育平台用户在适用规则上一律平等。</p>
            <p><strong>第四条</strong></p>
            <p>用户应遵守国家法律、行政法规、部门规章及相关规范性文件的规定。对任何涉嫌违反国家法律、行政法规、部门规章及相关规范性文件的规定的行为，本规则已有规定的，适用本规则；本规则尚无规定的，飞灵教育平台有权酌情处理。但飞灵教育平台对用户的处理不免除其应尽的法律义务及应承担的法律责任。用户在飞灵教育平台的任何行为，应同时遵守与飞灵教育公司、飞灵教育平台所签订的各项协议。</p></p>
            <h3>第二章 定义</h3>
            <p><strong>第五条</strong></p>
            <p>飞灵教育平台：指包括飞灵教育网（域名为 www.feelingyt.com）网站及客户端。</p>
            <p><strong>第六条</strong></p>
            <p>用户，指具有完全民事行为能力的飞灵教育平台各项服务的使用者。</p>
            <p><strong>第七条</strong></p>
            <p>用户，指与飞灵教育平台签订《飞灵教育服务协议》和/或《飞灵教育用户协议》并完成注册流程的用户。一个用户只可以注册一个账户，每个账户对应唯一的用户名。</p>
            <p><strong>第八条</strong></p>
            <p>购买者用户，指在飞灵教育平台上浏览或购买服务的用户。</p>
            <p><strong>第九条</strong></p>
            <p>服务者用户，指在飞灵教育平台上发布服务的用户。</p>
            <p><strong>第十条</strong></p>
            <p>订单，指购买者用户向单一服务者用户同一时间拍下单款或多款服务的合约。订单中针对任一服务的内容构成独立的交易。</p>
            <p><strong>第十一条</strong></p>
            <p>服务发布数量，指服务者用户在飞灵教育平台上在线发布的提供服务的总和。</p>
            <p><strong>第十二条</strong></p>
            <p>成交，指购买者用户在飞灵教育平台上购买服务并成功付款。</p></p>
            <h3>二、 第三章 交易</h3>
            <p>第一节 注册</p>
            <p><strong>第十三条</strong></p>
            <p>用户应当严格遵循飞灵教育平台系统设置的注册流程完成注册。用户在选择其飞灵教育平台用户名时应遵守国家法律法规，不得包含违法、涉嫌侵犯他人权利、有违公序良俗或干扰飞灵教育平台运营秩序等相关信息。用户名注册后无法自行修改。飞灵教育平台有权回收同时符合以下条件的不活跃账户：</p>
            <p>（一）未通过实名认证的账户；</p>
            <p>（二）连续六个月未用于登录飞灵教育平台或客户端；</p>
            <p>（三）不存在未到期的有效业务。</p>
            <p>第二节 经营</p>
            <p><strong>第十四条</strong></p>
            <p>用户应当按照飞灵教育平台系统设置的流程和要求发布服务。</p>
            <p><strong>第十五条</strong></p>
            <p>飞灵教育平台网服务者用户发布服务的权益可能受到以下限制：飞灵教育平台网有权根据服务用户的信用积分、违规情形等维度调整其服务发布数量上限以及可发布类目数量上限。</p>
            <p><strong>第十六条</strong></p>
            <p>“服务如实描述”及对其所提供的服务质量承担保证责任是服务者用户的基本义务。“服务如实描述”是指服务者用户在所有飞灵教育平台提供的渠道中，应当对服务的基本情况等必须说明的信息进行真实、完整的描述。服务者用户应保证其提供的服务在合理期限内可以满足购买者用户的要求，包括服务未侵犯知识产权等。</p>
            <p>第三节 评价</p>
            <p><strong>第十七条</strong></p>
            <p>买卖双方有权基于真实的交易在支付宝交易成功后十五天内进行相互评价。</p>
            <p><strong>第十八条</strong></p>
            <p>为了确保评价体系的公正性、客观性和真实性，飞灵教育平台将基于有限的技术手段，遵循相关法律规定，对违规交易评价、恶意评价、不当评价、异常评价等破坏飞灵教育平台信用评价体系、侵犯消费者知情权的行为予以坚决打击，包括但不限于屏蔽评论内容、删除评价、评价不计分、限制评价等市场管理措施。<p></p>
            <h3>第四章 市场管理</h3>
            <p>第一节 市场管理措施</p>
            <p><strong>第十九条</strong></p>
            <p>为了提升消费者的购物体验，维护飞灵教育平台市场正常运营秩序，飞灵教育平台按照本规则规定的情形对用户及其经营行为采取以下临时性市场管控措施：</p>
            <p>（一）警告，是指飞灵教育平台通过口头或书面的形式对用户的不当行为进行提醒和告诫；</p>
            <p>（二）删除服务，是指将用户发布的服务信息删除；</p>
            <p>（三）限制参加营销活动，是指限制服务者用户参加飞灵教育平台官方发起的营销活动；</p>
            <p>（四）服务发布资质管控，是指用户在特定类目或属性下发布服务时，须按系统要求上传真实有效的资质信息；</p>
            <p>（五）单个服务监管，是指在一定时间内服务信息无法通过搜索、服务链接等方式查看；</p>
            <p>（六）用户监管，是指在一定时间内用户发布的信息无法通过搜索或链接等方式查看；</p>
            <p>（七）支付违约金，是指根据协议约定或本规则规定由服务者用户向购买者用户和/或飞灵教育平台支付一定金额的违约金。</p>
            <p>第二节 市场管理情形</p>
            <p><strong>第二十条</strong></p>
            <p>服务者用户应积极提升自身经营状况，提供高品质、优质的服务。对于符合服务质量高等情形的服务者用户，飞灵教育平台会适当给予鼓励或扶持的措施。</p>
            <p><strong>第二十一条</strong></p>
            <p>用户须按照飞灵教育平台认证要求，提供本人（包含企业）真实有效的信息。</p>
            <p>（一）用户须按照飞灵教育平台认证要求，提供本人（包含企业）真实有效的信息，提供的信息包括但不限于：身份信息、有效联系方式、真实地址相关信息等证明身份真实性、有效性、一致性的信息；对于信息不全、无效或虚假的，将无法通过认证。 </p>
            <p>（二）为保障用户认证信息的持续真实有效，维护消费者权益，对已经通过飞灵教育平台认证的用户，飞灵教育平台将视情况通过定期或不定期复核的方式，验证认证信息的真实有效性。如在复核过程中发现用户提供的认证信息不全、无效或虚假的，飞灵教育平台将依据情形严重程度，采取限制登录、限制发布服务、删除服务、屏蔽用户搜索等临时性的市场监管措施。</p>
            <p><strong>第二十二条</strong></p>
            <p>服务者用户应妥善管理其所发布的服务信息。对近90天内未编辑、未经浏览且未成交的服务，飞灵教育平台网将定期进行服务删除。</p>
            <p><strong>第二十一条</strong></p>
            <p>您确认，在您开始注册程序使用飞灵教育平台服务前，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备前述与您行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的一切后果。此外，您还需确保您不是任何国家、国际组织或者地域实施的贸易限制、制裁或其他法律、规则限制的对象，否则您可能无法正常注册及使用飞灵教育平台服务。</p>
            <p><strong>第二十二条</strong></p>
            <p>服务者用户应妥善管理其所发布的服务信息。对近90天内未编辑、未经浏览且未成交的服务，飞灵教育平台网将定期进行服务删除。</p>
            <p><strong>第二十三条</strong></p>
            <p>因用户行为引发其他用户或第三方诉讼至司法机关的，若用户存在提供的联系方式无效，或用户怠于处置、消极应对，或继续违规等情形，对平台造成或可能造成实际损失或不良影响的，飞灵教育平台网可根据产生或可能产生后果的严重程度采取用户监管、限制发布服务等临时性市场管控措施。</p>
            <p><strong>第二十四条</strong></p>
            <p>服务者用户若发布有违公序良俗或《飞灵教育平台服务协议》的服务信息（本规则中已有明确规定的，从其规定），飞灵教育平台将对该类服务信息进行临时性删除或永久删除处理。</p>
            <p><strong>第二十五条</strong></p>
            <p>为保障购买者用户的消费权益，飞灵教育平台有权基于资金安全风险、服务合规风险等评估，对资金安全风险、服务合规风险较高的订单或其他需要进行交易资金保障的订单采取交易账期延长等支付宝收款账户强制措施。</p>
            <p><strong>第二十六条</strong></p>
            <p>用户应遵照飞灵教育平台交易流程的各项要求进行交易，服务者用户应合理保障购买者用户权益。用户如发生或可能即将引发危及交易安全或飞灵教育平台账户安全的行为，飞灵教育平台将根据其行为并结合事件的紧急、严重程度采取账户强制措施、关闭交易、服务监管、删除服务、限制登录、限制使用账户、限制发送消息、延长交易超时、限制用户行为、服务屏蔽及搜索降权等临时性市场管控措施，直至飞灵教育平台确认风险基本可控后予以部分或全部解除管控。。</p></p>
            <h3>第五章 通用违规行为及违规处理</h3>
            <p>第一节 违规处理措施</p>
            <p><strong>第二十七条</strong></p>
            <p>为保障消费者、经营者或飞灵教育平台的正当权益，在用户违规处理期间飞灵教育平台按照本规则规定的情形对用户采取以下违规处理措施：</p>
            <p>（一）用户屏蔽，指在搜索、导航、营销等各项服务中对用户发布的服务等信息进行屏蔽。</p>
            <p>（二）服务屏蔽，指在搜索、导航、营销等各项服务中对用户发布的违规单条服务等信息进行屏蔽。。</p>
            <p>（三）限制评价，指禁止评价人对交易进行评价。</p>
            <p>（四）评价不累计，是指双方交易后产生的积分不累计。</p>
            <p>（五）删除评价，指评分删除后不计分，并删除评论内容。</p>
            <p>（六）服务量不累计，是指双方的交易不计入成交记录中，不在服务详情、搜索等结果中展示或引用。</p>
            <p>（七）删除服务量，是指删除该笔交易的成交记录，在删除后将不在服务详情、搜索等结果中展示或引用。</p>
            <p>（八）限制发布服务，指禁止飞灵教育平台用户发布新服务。</p>
            <p>（九）限制服务发布数量，指限制用户内在发布服务数量。</p>
            <p>（十）限制发送消息，指禁止通过飞灵教育平台发送消息。</p>
            <p>（十一）限制购买者用户行为，指禁止飞灵教育平台用户收藏服务、添加购物车、购买服务。</p>
            <p>（十二）限制发货，指禁止飞灵教育平台用户操作处于“购买者用户已付款，等待服务者用户发货”状态的交易。</p>
            <p>（十三）限制网站登录，指禁止飞灵教育平台用户登录飞灵教育平台网页。</p>
            <p>（十四）关闭服务，指删除飞灵教育平台用户，删除所有发布的服务，禁止发布服务，并禁止创建新的用户。</p>
            <p>（十五）公示警告，指在飞灵教育平台首页、用户界面，对其正在被执行的处理进行公示。</p>
            <p>（十六）查封账户，指永久禁止用户使用违规账户登录飞灵教育平台。</p>
            <p>第二节 违规处理</p>
            <p><strong>第二十八条</strong></p>
            <p>违规行为根据严重程度分为严重违规行为及一般违规行为，两者分别扣分、分别累计、分别执行。服务者用户因提供虚假服务严重违规行为扣分将单独累计，不与其他严重违规行为合并计分。严重违规行为，是指严重破坏飞灵教育平台经营秩序或涉嫌违反国家法律法规的行为。一般违规行为，是指除严重违规行为外的违规行为。违规行为根据适用的范围分为通用违规行为及特殊市场违规行为，特殊市场违规行为也遵循前款规定的严重违规行为与一般违规行为划分。</p>
            <p><strong>第二十九条</strong></p>
            <p>用户发生违规行为的，其违规行为应当纠正，并扣以一定分值且公布3天。为推动市场诚信体系建设，维护其他用户、社会公众以及飞灵教育平台及其关联方的合法权益，飞灵教育平台网将视情况向行政机关和/或第三方机构披露被飞灵教育平台处以严重违规处罚的用户的相关信息及其违规情况。</p>
            <p><strong>第三十条</strong></p>
            <p>飞灵教育平台网对用户的严重违规行为采取以下节点处理方式：</p>
            <p>（一）用户严重违规扣分累计达12分的，给予用户屏蔽、限制发布服务、限制创建服务、限制发送消息及公示警告7天的处理；</p>
            <p>（二）用户严重违规扣分累计达24分的，给予用户屏蔽、关闭所有服务、限制发布服务、限制创建服务、限制发送消息及公示警告14天的处理；</p>
            <p>（三）用户严重违规扣分累计达36分的，给予关闭用户、限制发送消息及公示警告21天的处理；</p>
            <p>（四）用户严重违规扣分累计达48分的，给予查封账户的处理。用户因单次违规扣分较大，导致累积扣分满足多个节点处理条件的，或在违规处理期间又须执行同类节点处理的，仅执行最重的节点处理。</p>
            <p><strong>第三十一条</strong></p>
            <p>飞灵教育平台网对用户的一般违规行为采取以下节点处理方式：用户因一般违规行为，每扣12分即被给予用户屏蔽、限制发布服务及公示警告7天的节点处理。</p>
            <p><strong>第三十二条</strong></p>
            <p>被执行节点处理的用户，当其全部违规行为被纠正、违规处理期间届满、违规处理措施执行完毕且通过规则考试后，方可恢复正常状态。</p>
            <p><strong>第三十三条</strong></p>
            <p>违规扣分在每年的12月31日24时清零。因提供虚假服务扣分累计达到24分及以上的，该年不进行清零，以24分计入次年；次年新增提供虚假服务扣分未达24分的，于该年12月31日24时清零。累计扣分达48分及以上的，查封账户。</p>
            <p><strong>第三十四条</strong></p>
            <p>就用户的首次或者非故意实施的违规行为,飞灵教育平台将视情形给予纠正和教育,并要求用户进行自检自查。</p>
            <p><strong>第三十五条</strong></p>
            <p>用户可在被违规处理之时起总计3-30天不等的时间内(飞灵教育平台审核时间除外)向飞灵教育平台提交违规申诉申请。</p>
            <p>第三节 严重违规行为</p>
            <p><strong>第三十六条</strong></p>
            <p>不当注册，是指用户通过软件、程序等方式，批量注册飞灵教育平台账户的行为。不当注册的，飞灵教育平台对使用软件、程序方式批量注册而成的账户每次扣48分；对于飞灵教育平台排查到的涉嫌不当注册的用户，飞灵教育平台将视情节采取警告、身份验证、限制创建店铺、限制发送站内信、限制发布服务、限制网站登录、限制旺旺登录、限制购买者用户行为等临时性管控措施。</p>
            <p><strong>第三十七条</strong></p>
            <p>发布违禁信息，是指用户发布国家禁止出售的服务或信息，发布违禁信息的，依据相关法律规定执行。</p>
            <p><strong>第三十八条</strong></p>
            <p>出售虚假服务：</p>
            <p>（一）服务者用户出售虚假、抄袭服务且情节特别严重的，每次扣48分；</p>
            <p>（二）服务者用户出售虚假、抄袭服务且情节严重的，每次扣24分；</p>
            <p>（三）服务者用户出售虚假、抄袭服务，通过信息层面判断的，每件扣2分（3天内不超过12分）；实际出售的，每次扣12分。具备特殊情形的，只删除不扣分。</p>
            <p>（四）为出售虚假、抄袭服务提供便利条件的，每次扣2分。情节严重的，每次扣12分。</p>
            <p>飞灵教育平台网针对出售虚假、抄袭服务实行“三振出局”制，即服务者用户每次出售虚假、抄袭服务的行为记为一次，若同一服务者用户出售虚假、抄袭服务的次数累计达三次的，则将被永久查封账户。出售虚假服务的，飞灵教育平台删除用户所发布过的虚假、抄袭服务或信息。同时，飞灵教育平台将视情节严重程度采取账户强制措施、查封账户、关闭服务、服务监管、限制发布服务、限制网站登录、限制发送消息、服务屏蔽及服务搜索降权、账户或单个服务监管、服务发布资质管控、限制服务发布数量等处理措施。</p>
            <p><strong>第三十九条</strong></p>
            <p>虚假服务，是指服务者用户对服务全部内容及信息的描述与购买者用户收到的服务完全不符。服务者用户首次提供虚假服务的，删除服务，扣6分；再次提供虚假服务的，删除服务，每次扣12分。</p>
            <p><strong>第四十条</strong></p>
            <p>盗用他人账户，是指盗用他人飞灵教育平台账户，涉嫌侵犯他人财产权的行为。盗用他人账户的，飞灵教育平台收回被盗账户并使原所有人可以通过账户申诉流程重新取回账户，每次扣48分</p>
            <p><strong>第四十一条</strong></p>
            <p>泄露他人信息 ，是指未经允许发布、传递他人隐私信息，涉嫌侵犯他人隐私权的行为。泄露他人信息的，飞灵教育平台对用户所泄露的他人隐私资料的信息进行删除，每次扣6分；情节严重的，每次扣48分。</p>
            <p><strong>第四十二条</strong></p>
            <p>骗取他人财物，是指以非法获利为目的，非法获取他人财物，涉嫌侵犯他人财产权的行为。骗取他人财物的，飞灵教育平台对用以骗取他人财物的服务或信息及因此产生的交易评价进行删除，每次扣48分，并对其收款账户采取强制措施。对前述骗取他人财物的受害方，飞灵教育平台将基于有限的技术手段采取临时性保护措施，包括但不限于账户强制措施、用户监管、限制网站登录等。</p>
            <p><strong>第四十三条</strong></p>
            <p>扰乱市场秩序，是指用户扰乱和破坏公平竞争、平等交易的市场秩序，侵害其他用户权益或对平台造成不良影响的行为。扰乱市场秩序的，每次扣24分；情节严重的，每次扣48分。飞灵教育平台同时有权取消或收回用户获得、使用的不当利益</p>
            <p><strong>第四十四条</strong></p>
            <p>不正当牟利，是指用户采用不正当手段牟取利益或采用其他手段牟取不正当利益的行为，包括但不限于以下情形：向飞灵教育工作人员及/或其关联人士提供财物、消费、款待或商业机会等；用户不正当牟利的，无论是否获得利益，每次扣48分，飞灵教育平台永久不向其提供或接受其提供的任何服务。实施不正当牟利行为的用户有如实主动申报及/或如实积极举报等情形的，飞灵教育平台酌情给予从轻或减轻的处理措施。自对用户进行不正当牟利调查之日起，飞灵教育平台将限制该用户参加飞灵教育平台营销活动，直至调查终结。用户向飞灵教育工作人员及/或其关联人士明确表达不正当牟利意图或已经开始实施不正当牟利行为，但由于用户意志以外的原因而未</p>得逞的，构成不正当牟利未遂，每次扣12分。有以下情形之一的，视同为不正当牟利行为：
            <p>（一）服务者用户为飞灵教育工作人员的，每次扣48分；</p>
            <p>（二）服务者用户为飞灵教育工作人员之关联人士且该飞灵教育工作人员未进行如实申报，每次扣24分，若有利用飞灵教育工作人员职务便利条件的，每次扣48分。</p>
            <p>第四节 一般违规行为</p>
            <p><strong>第四十五条</strong></p>
            <p>发布违规信息，是指用户发布的信息中构成一般违规行为的服务或信息。发布禁售信息的，依据相关规定执行。</p>
            <p><strong>第四十六条</strong></p>
            <p>滥发信息，是指用户未按本规则及飞灵教育平台发布的其他管理内容（包括但不限于规则、规范、类目管理标准、行业标准等）要求发布服务或信息，妨害购买者用户权益的行为，包括以下情形：</p>
            <p>（一）广告信息；</p>
            <p>（二）信息与实际不符；</p>
            <p>（三）信息重复；</p>
            <p>（四）服务要素不一致；</p>
            <p>（五）规避信息；</p>
            <p>（六）其他特殊要求。</p>
            <p>服务者用户若存在上述任一情形的，飞灵教育平台将视情节轻重程度采取删除服务、单个服务搜索降权、单个服务搜索屏蔽、用户屏蔽、用户监管、交易账期延长、限制发布服务、限制服务发布数量、删除销量、删除评价、扣分等处理措施。</p>
            <p><strong>第四十七条</strong></p>
            <p>发布未经准入服务，是指用户未经飞灵教育平台备案或审查，发布有准入要求的服务或信息。准入要求包括服务者用户准入要求和服务准入要求。</p>
            <p>（一）发布未经准入服务情形一般的，违反服务准入要求每次扣6分，违反服务者用户准入要求每次扣12分，同时飞灵教育平台删除该违规服务或信息。</p>
            <p>（二）情形严重的，视为严重违规行为，违反服务准入要求每次扣6分，违反服务者用户准入要求每次扣12分，同时飞灵教育平台删除该违规服务或信息。</p>
            <p>（三）情形特别严重的，视为严重违规行为，每次扣48分，同时飞灵教育平台删除该违规服务或信息。</p>
            <p>飞灵教育平台将视情节严重程度采取账户强制措施、限制发布服务、限制服务发布数量、用户或单个服务监管、用户屏蔽搜索等处理措施。</p>
            <p><strong>第四十八条</strong></p>
            <p>虚假交易，是指用户通过虚构或隐瞒交易事实、规避或恶意利用信用记录规则、干扰或妨害信用记录秩序等不正当方式获取虚假的服务销量、服务评论、服务评分、信用积分或成交金额等不当利益的行为。服务者用户进行虚假交易的，飞灵教育平台将对服务者用户的违规行为进行纠正，包括删除虚假交易产生的服务销量、服务评分、信用积分或服务评论等不当利益；情节严重的，飞灵教育平台还将下删除服务者用户发布的所有服务。在纠正违规行为的同时，飞灵教育平台将按照如下规定对服务者用户进行处理：</p>
            <p>（一）服务者用户第一次或第二次进行虚假交易：若违规交易笔数未达96笔，每次以一般违规行为扣2分；若违规交易笔数达96笔以上，每次以一般违规行为扣12分；</p>
            <p>（二）服务者用户第三次进行虚假交易：若违规交易笔数未达96笔，每次以一般违规行为扣12分；若违规交易笔数达96笔以上，视为情节严重，每次以一般违规行为扣48分；</p>
            <p>（三）服务者用户第四次及以上进行虚假交易，不论笔数均视为情节严重，每次以一般违规行为扣48分；</p>
            <p>（四）若服务者用户短期内进行大规模虚假交易，不论次数和笔数均视为情节严重，每次以一般违规行为扣48分；</p>
            <p>（五）若服务者用户发生以下任一情形的，以严重违规行为扣48分：</p>
            <p>1、累计三次及以上被认定为“情节严重”的虚假交易行为；</p>
            <p>2、违反上述第(四)项规定后，再次进行大量虚假交易；</p>
            <p>3、存在手段恶劣、行为密集、规模庞大、后果严重、恶意对抗监管等特殊情节；</p>
            <p>4、为他人虚假交易提供服务、帮助或便利。</p>
      若服务者用户同时存在上述第（四）项和第（五）项情形，按第（五）项执行。
            <p>飞灵教育平台对涉嫌虚假交易的服务，给予服务者用户30天的单个服务飞灵教育平台网搜索降权的处理。如服务者用户某服务多次进行虚假交易的，搜索降权时间滚动计算。购买者用户如协助服务者用户进行虚假交易的，飞灵教育平台将视情节严重程度采取关闭订单、新增订单不计销量和/或关闭评价入口、删除违规交易产生的信用积分、信用积分清零、警告、身份验证、限制成为服务者用户、限制通过飞灵教育平台发送消息、限制发布服务、限制网站登录、限制购买者用户行为、限制发起投诉、延长交易超时等处理措施。</p>
            <p><strong>第四十九条</strong></p>
            <p>描述不当，是指购买者用户收到的服务或接受的服务，或经飞灵教育平台官方抽检、排查到的服务或服务存在与服务者用户描述不相符，或服务者用户未对服务瑕疵等信息进行披露等情形，妨害购买者用户权益的行为。</p>
            <p>（一）服务者用户描述不当情节轻微的，第一次下架服务不扣分，第二次下架服务一般违规行为扣3分，第三次删除服务一般违规行为扣6分，第四次及以上删除服务一般违规行为扣12分。</p>
            <p>（二）服务者用户描述不当情节一般的，第一次下架服务一般违规行为扣3分，第二次删除服务一般违规行为扣6分，第三次删除服务一般违规行为扣12分，第四次及以上删除服务严重违规行为每次扣12分。</p>
            <p>（三）服务者用户描述不当情节严重的，删除服务，第一次一般违规行为扣12分，第二次及以上严重违规行为每次扣12分。</p>
            <p>（四）服务者用户描述不当情节特别严重的，视为严重违规行为，每次扣48分。</p>
            <p>同一服务者用户同一情形描述不当的，三天只扣一次分。同时，飞灵教育平台将视情节严重程度采取店铺监管、店铺屏蔽及全店服务搜索降权、全店或单个服务监管、交易账期延长、限制发布特定属性服务、限制服务发布数量、限制发布类目数量、限制发布特定类目服务、限制使用服务发布的特定功能、限制使用特定管理工具等临时性市场管控措施。</p>
            <p><strong>第五十条</strong></p>
            <p>违背承诺，是指服务者用户未按照约定向购买者用户提供承诺的服务，妨害购买者用户权益的行为。违背承诺的，服务者用户须履行消费者保障服务规定的如实描述、赔付、退货、修改服务等承诺；或服务者用户须按实际交易价款向购买者用户或飞灵教育平台提供发票；或服务者用户须向购买者用户支付因违背发货时间承诺而产生的违约金。同时，飞灵教育平台将按照如下规定对服务者用户进行处理：服务者用户违背以下任一承诺的，需向购买者用户支付该服务实际成交金额的5%作为违约金，且赔付金额最高不超过30元，最低不少于5元，特定类目服务最低不少于1元；购买者用户发起投诉后服务者用户在飞灵教育平台网人工介入且判定投诉成立前主动支付违</p>约金的，主动支付违约金达第三次及三次的倍数时扣3分（三天内累计扣分不超过12分）；购买者用户发起投诉后服务者用户未在飞灵教育平台网人工介入且判定投诉成立前主动支付该违约金的，除须赔偿违约金外，每次扣3分。
            <p>（一）除特殊情形外，购买者用户付款后，服务者用户未按约定的发货时间发货的（交易双方另有约定的除外）；</p>
            <p>（二）购买者用户付款后，服务者用户拒绝按照购买者用户拍下的价格交易的（交易双方另有约定的除外）；</p>
            <p>（三）购买者用户付款后，服务者用户拒绝给予购买者用户，其曾在交易过程中与之达成的对服务价格的个别优惠或折扣的；</p>
            <p>滥用违背承诺中任一规则发起赔付申请的，飞灵教育平台网不强制支持赔付，由买卖双方自行协商确认。</p>
            <p>飞灵教育平台官方发布的其他管理内容（包括但不仅限于规则、规范、类目管理标准、行业标准等），对上述行为的规定符合特定情形的，从其规定；除上述列举的行为外，飞灵教育平台官方发布的其他管理内容（包括但不仅限于规则、规范、类目管理标准、行业标准等）中认为构成违背承诺行为的，从其规定。</p>
            <p><strong>第五十一条</strong></p>
            <p>骚扰他人，是指用户对他人实施骚扰、侮辱、恐吓等妨害他人合法权益的行为。骚扰他人情节一般的，对用户屏蔽7天；骚扰他人情节严重的，每次扣12分；骚扰他人情节特别严重的，视为严重违规行为，每次扣48分。为防止骚扰他人行为的继续扩大化，飞灵教育平台将在调查过程中视必要性采取临时性市场管控措施，对用户予以先行管控直至调查结束。</p>
            <p><strong>第五十二条</strong></p>
            <p>滥用用户权利，是指用户滥用、恶意利用飞灵教育平台所赋予的各项权利损害他人合法权益、妨害飞灵教育平台运营秩序的行为。滥用用户权利的，飞灵教育平台对获得的不当利益进行返还或收回；对滥用权利产生的订单采取订单关闭、不计销量等管控措施。对排查到的滥用权利的用户，飞灵教育平台将视情节采取警告、身份验证、限制通过网站发送消息、限制发布服务、限制网站登录、限制购买者用户行为、限制评价、删除评价、限制投诉、延长交易超时、扣分等管控措施，直至查封账户。服务者用户有权使用飞灵教育平台所赋予的工具对异常行为进行记录，服务者用户滥用此类工具的，每次扣四分。</p>
            <p><strong>第五十三条</strong></p>
            <p>不当使用他人权利，是指用户发生以下任一行为：</p>
            <p>（一）服务者用户在所发布的服务信息或所提供的服务等中不当使用他人的著作权等权利的；</p>
            <p>（二）服务者用户出售服务涉嫌不当使用他人著作权等权利的；</p>
            <p>（三）服务者用户所发布的服务信息或所使用的其他信息造成购买者用户混淆、误认或造成不正当竞争的。若发生上述任一行为，飞灵教育平台对用户所发布的不当使用他人权利的服务或信息进行删除。同时，飞灵教育平台将按照如下规定对服务者用户进行处理：</p>
            <p>（一）服务者用户不当使用他人权利的，每次扣2分；</p>
            <p>（二）服务者用户不当使用他人权利情节严重的，每次扣6分，情节严重达三次及以上的每次扣48分；</p>
            <p>（三）服务者用户不当使用他人权利情节特别严重的，视为严重违规行为，每次扣48分。同一权利人就同一权利在3天内对同一服务者用户的投诉视为1次投诉。同时，飞灵教育平台将视情节严重程度采取查封账户、关闭账户、店铺监管、限制发布服务、限制网站登录、、限制通过网站发送消息、账户或单个服务监管、限制服务发布数量、删除单个或全部服务等处理措施。</p>
            <p><strong>第五十四条</strong></p>
            <p>发布混淆信息，是指用户发布容易造成消费者混淆的信息的行为。若用户发布混淆信息的，飞灵教育平台网将对相关信息进行删除。同时，飞灵教育平台网将按照如下规定对用户进行处理：</p>
            <p>（一）用户发布混淆信息的，每次扣2分；</p>
            <p>（二）用户发布混淆信息情节严重的，每次扣24分；</p>
            <p>（三）用户发布混淆信息情节特别严重的，视为严重违规行为，每次扣48分。同时，飞灵教育平台网将视情节严重程度采取限制发布服务、限制网站登录、交易账期延长、账户监管等处理措施。</p>
            <p><strong>第五十五条</strong></p>
            <p>提供虚假凭证，指用户为牟取利益向飞灵教育平台提供伪造、变造的资质证明材料的行为。用户提供虚假凭证的，每次扣12分；用户入驻特定市场提供虚假资质证明的或用户提供虚假凭证情节严重的，视为严重违规行为，每次扣48分；对于用户提供虚假凭证获得的不当利益，飞灵教育平台可以进行收回，同时，飞灵教育平台将视情形对用户采取市场管理措施，包括但不限于清退相应准入市场、删除服务、交易账期延长、店铺监管等。</p>
            <p>第五节 违规的执行</p>
            <p><strong>第五十六条</strong></p>
            <p>用户的违规行为，通过飞灵教育平台用户、权利人的投诉或飞灵教育平台排查发现。</p>
            <p><strong>第五十七条</strong></p>
            <p>对描述不符、违背承诺、恶意骚扰、虚假服务、骗取他人财物等违规行为的投诉，须在飞灵教育平台网规定的时间内进行；未在规定时间内投诉的，不予受理。</p>
            <p><strong>第五十八条</strong></p>
            <p>对描述不符、违背承诺、竞拍不买、恶意骚扰、虚假服务、骗取他人财物等违规行为，被投诉人须在被投诉之日起3天内提交证据。逾期未提交证据的，飞灵教育平台有权根据当时所掌握的情况进行判断与处理。对其余违规行为的判断与处理，飞灵教育平台在收到投诉后立即进行。</p>
            <p><strong>第五十九条</strong></p>
            <p>服务者用户自行作出的承诺或说明与本规则相悖的，飞灵教育平台不予采信。除证据有误或判断错误的情形外，对违规行为的处理不中止、不撤销。</p>
            <p>附则</p>
            <p><strong>第六十条</strong></p>
            <p>飞灵教育平台用户的行为，发生在本规则生效或修订以前的，适用当时的规则；发生在本规则生效或修订以后的，适用本规则。</p>
            <p><strong>第六十一条</strong></p>
            <p>本规则中的以上，包含本数；本规则中的以下，不包含本数。</p>
            <p><strong>第六十二条</strong></p>
            <p>本规则中的“天”，以24小时计算。</p>
            <p><strong>第六十三条</strong></p>
            <p>飞灵教育平台会对本规则进行不定期修订，并在飞灵教育平台执行公示程序。若修订内容对多数用户的权益构成重大影响，则另行执行征求意见程序。公示期结束后，规则修订内容即告生</p>
          </div>


          <div class="sec hidden" id="sec5">
            <h2>飞灵教育服务协议    版本生效日期：2017年 12 月 31 日</h2>
            <h3><strong>提示条款</strong></h3>
            <p>欢迎您签署本《飞灵教育服务协议》（下称“本协议”）并使用飞灵教育平台服务！</p>
            <p>本协议为《飞灵教育服务协议》修订版本，自本协议发布之日起，飞灵教育平台各处所称“飞灵教育服务协议”均指本协议。</p>
            <p>各服务条款前所列索引关键词仅为帮助您理解该条款表达的主旨之用，不影响或限制本协议条款的含义或解释。为维护您自身权益，建议您仔细阅读各条款具体表述。</p>
            <p><strong>【审慎阅读】</strong>您在申请注册流程中点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将以粗体下划线标识，您应重点阅读。如您对协议有任何疑问，可向飞灵教育平台客服咨询。</p>
            <p><strong>【签约动作】</strong>当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与飞灵教育达成一致，成为飞灵教育平台“用户”。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。</p></p>
            <h3>一、 定义</h3>
            <p><strong>飞灵教育：</strong>指深圳市飞灵教育有限公司。</p>
            <p><strong>飞灵教育平台：</strong>指包括飞灵教育网（域名为 www.feelingyt.com）网站及客户端。</p>
            <p><strong>飞灵教育平台服务：</strong>飞灵教育基于互联网，以包含飞灵教育平台网站、客户端等在内的各种形态（包括未来技术发展出现的新的服务形态）向您提供的各项服务。</p>
            <p><strong>飞灵教育平台规则：</strong>包括在所有飞灵教育平台上已经发布及后续发布的各类规则、实施细则、流程说明、解读、公告等内容。</p>
            <p><strong>同一用户：</strong>使用同一身份认证信息或经飞灵教育排查认定多个飞灵教育账户的实际控制人为同一人的，均视为同一用户。</p></p>
            <h3>二、 <strong>协议范围</strong></h3>
            <p><strong>2.1 签约主体</p>
            </strong>
            <p><strong>【平等主体】</strong>本协议由您与飞灵教育平台经营者共同缔结，本协议对您与飞灵教育平台经营者均具有合同效力。</p>
            <p><strong>【主体信息】</strong>您为提供服务的海外自由职业者，飞灵教育是指深圳市飞灵教育有限公司。您可随时查看飞灵教育平台网站下部公示的经营者的证照信息以确定与您履约的飞灵教育主体。本协议项下，飞灵教育网站可能根据飞灵教育的业务调整而发生变更，变更后的飞灵教育继续履行本协议并向您提供服务，飞灵教育网站的变更不会影响您本协议项下的权益。飞灵教育还有可能因为提供新的服务而新增其他平台，如您使用新增的飞灵教育平台服务的，视为您同意新增的飞灵教育平台与您共同履行本协议。发生争议时，您可根据您具体使用的服务及对您权益产生影响的具体行为对象确定与您履约的主体及争议相对方。</p>
            <p><strong>2.2 补充协议</strong></p>
            <p>由于互联网高速发展，您与飞灵教育签署的本协议列明的条款并不能完整罗列并覆盖您与飞灵教育所有权利与义务，现有的约定也不能保证完全符合未来发展的需求。因此，飞灵教育平台法律声明及隐私权政策、飞灵教育平台规则均为本协议的补充协议，与本协议不可分割且具有同等法律效力。如您使用飞灵教育平台服务，视为您同意上述补充协议。<p></p>
            <h3>三、 <strong>账户注册与使用</strong></h3>
            <p><strong>3.1 用户资格</strong></p>
            <p>您确认，在您开始注册程序使用飞灵教育平台服务前，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备前述与您行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的一切后果。此外，您还需确保您不是任何国家、国际组织或者地域实施的贸易限制、制裁或其他法律、规则限制的对象，否则您可能无法正常注册及使用飞灵教育平台服务。</p>
            <p><strong>3.2 账户说明</strong></p>
            <p><strong>【账户获得】</strong>当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，您可获得飞灵教育平台账户并成为飞灵教育平台用户。飞灵教育平台只允许每位用户使用一个飞灵教育平台账户。如有证据证明或飞灵教育根据飞灵教育平台规则判断您存在不当注册或不当使用多个飞灵教育平台账户的情形，飞灵教育平台可采取冻结或关闭账户、取消订单、拒绝提供服务等措施，如给飞灵教育平台及相关方造成损失的，您还应承担赔偿责任。</p>
            <p><strong>【账户使用】</strong>您有权使用您设置或确认的飞灵教育用户名、邮箱、手机号码（以下简称“账户名称”）及您设置的密码（账户名称及密码合称“账户”）登录飞灵教育平台。您有权使用您的飞灵教育账户登录飞灵教育APP平台而无需另行设置账户。由于您的飞灵教育账户关联您的个人信息及飞灵教育平台商业信息，您的飞灵教育账户仅限您本人使用。未经飞灵教育平台同意，您直接或间接授权第三方使用您飞灵教育账户或获取您账户项下信息的行为无效。如飞灵教育根据飞灵教育平台规则中约定的违约认定程序及标准判断您飞灵教育账户的使用可能危及您的账户安全及/或飞灵教育平台信息安全的，飞灵教育平台可拒绝提供相应服务或终止本</p>协议。
            <p><strong>【账户转让】</strong>由于用户账户关联用户信用信息，仅当有法律明文规定、司法裁定或经飞灵教育同意，并符合飞灵教育平台规则规定的用户账户转让流程的情况下，您可进行账户的转让。您的账户一经转让，该账户项下权利义务一并转移。除此外，您的账户不得以任何方式转让，否则飞灵教育平台有权追究您的违约责任，且由此产生的一切责任均由您承担。</p>
            <p><strong>【实名认证】</strong>为使您更好地使用飞灵教育平台的各项服务，保障您的账户安全，飞灵教育可要求您按我国法律规定完成实名认证。</p>
            <p><strong>【不活跃账户回收】</strong>如您的账户同时符合以下条件，则飞灵教育可回收您的账户，您的账户将不能再登录飞灵教育平台，相应服务同时终止：</p>
            <p>（一）未通过实名认证的账户；</p>
            <p>（二）连续六个月未用于登录飞灵教育平台或客户端；</p>
            <p>（三）不存在未到期的有效业务。</p>
            <p><strong>3.3 注册信息管理</strong></p>
            <p><strong>3.3.1 真实合法</strong></p>
            <p><strong>【信息真实】</strong>在使用飞灵教育平台服务时，您应当按飞灵教育平台页面的提示准确完整地提供您的信息（包括您的姓名及电子邮件地址、联系电话、联系地址等），以便飞灵教育或其他用户与您联系。您了解并同意，您有义务保持您提供信息的真实性及有效性。</p>
            <p><strong>【用户名的合法性】</strong>您设置的飞灵教育用户名不得违反国家法律法规及飞灵教育网规则关于用户名的管理规定，否则飞灵教育可回收您的飞灵教育用户名。飞灵教育用户名的回收不影响您以邮箱、手机号码登录飞灵教育平台并使用飞灵教育平台服务。</p>
            <p><strong>3.3.2 更新维护</strong></p>
            <p>您应当及时更新您提供的信息，在法律有明确规定要求飞灵教育作为平台服务提供者必须对部分用户（如平台卖家等）的信息进行核实的情况下，飞灵教育将依法不时地对您的信息进行检查核实，您应当配合提供最新、真实、完整、有效的信息。如飞灵教育按您最后一次提供的信息与您联系未果、您未按飞灵教育的要求及时提供信息、您提供的信息存在明显不实或行政司法机关核实您提供的信息无效的，您将承担因此对您自身、他人及飞灵教育造成的全部损失与不利后果。飞灵教育可向您发出询问或要求整改的通知，并要求您进行重新认证，直至中止、终止对您提供部分或全部飞灵教育平台服务，飞灵教育对此不承担责任。</p>
            <p><strong>3.4 账户安全规范</strong></p>
            <p><strong>【账户安全保管义务】</strong>您的账户为您自行设置并由您保管，飞灵教育任何时候均不会主动要求您提供您的账户密码。因此，建议您务必保管好您的账户，并确保您在每个上网时段结束时退出登录并以正确步骤离开飞灵教育平台。账户因您主动泄露或因您遭受他人攻击、诈骗等行为导致的损失及后果，飞灵教育并不承担责任，您应通过司法、行政等救济途径向侵权行为人追偿。</p>
            <p><strong>【账户行为责任自负】</strong>除飞灵教育存在过错外，您应对您账户项下的所有行为结果（包括但不限于在线签署各类协议、发布信息、购买商品及服务及披露信息等）负责。</p>
            <p><strong>【日常维护须知】</strong>如发现任何未经授权使用您账户登录飞灵教育平台或其他可能导致您账户遭窃、遗失的情况，建议您立即通知飞灵教育。您理解飞灵教育对您的任何请求采取行动均需要合理时间，且飞灵教育应您请求而采取的行动可能无法避免或阻止侵害后果的形成或扩大，除飞灵教育存在法定过错外，飞灵教育不承担责任。</p></p>
            <h3><strong>四、 飞灵教育平台服务及规范</strong></h3>
            <p><strong>【服务概况】</strong>您有权在飞灵教育平台上享受服务管理、服务的销售与推广、服务的购买与评价、交易争议处理等服务。飞灵教育提供的服务内容众多，具体您可登录飞灵教育平台浏览。</p>
            <p><strong>4.1 服务管理</strong></p>
            <p><strong>【服务创建】</strong>通过在飞灵教育网创建服务，您可发布服务信息并与其他用户达成交易。基于飞灵教育网管理需要，您理解并认可，同一用户在飞灵教育网仅能使用一个账号，飞灵教育可关闭您在飞灵教育网同时开设的其他账号。</p>
            <p><strong>【服务停止】</strong>如您通过取消全部服务信息短暂停止您的服务，您应当对您服务停止前已达成的交易继续承担完成服务及质保、维权投诉处理等交易保障责任。在您的服务连续六个月无发布新的服务的情况下，飞灵教育也可依据飞灵教育网规则关停您的店铺。依据上述约定停止服务均不会影响您已经累积的信用。</p>
            <p><strong>4.2 服务的销售与推广</strong></p>
            <p><strong>【服务信息发布】</strong>通过飞灵教育提供的服务，您有权通过文字、图片、视频、音频等形式在飞灵教育平台上发布服务信息、招揽和物色交易对象、达成交易。</p>
            <p><strong>【禁止销售范围】</strong>您应当确保您对您在飞灵教育平台上发布的商品及/或服务享有相应的权利，您不得在飞灵教育平台上提供以下服务：</p>
            <p>（一）国家禁止或限制的；</p>
            <p>（二）侵犯他人知识产权或其它合法权益的；</p>
            <p>（三）飞灵教育平台规则、公告、通知或各平台与您单独签署的协议中已明确说明不适合在飞灵教育平台上销售及/或提供的。</p>
            <p><strong>【交易秩序保障】</strong>您应当遵守诚实信用原则，确保您所发布的服务信息真实、与您实际所提供的服务相符，并在交易过程中切实履行您的交易承诺。您应当维护飞灵教育平台市场良性竞争秩序，不得贬低、诋毁竞争对手，不得干扰飞灵教育平台上进行的任何交易、活动，不得以任何不正当方式提升或试图提升自身的信用度，不得以任何方式干扰或试图干扰飞灵教育平台的正常运作。</p>
            <p><strong>【促销及推广】</strong>您有权自行决定服务的促销及推广方式，飞灵教育亦为您提供了形式丰富的促销推广工具。您的促销推广行为应当符合国家相关法律法规及飞灵教育平台的要求。</p>
            <p><strong>【依法纳税】</strong>依法纳税是每一个公民、企业应尽的义务，您应对销售额/营业额超过法定免征额部分及时、足额地向税务主管机关申报纳税。</p>
            <p><strong>4.3 服务的评价</strong></p>
            <p><strong>【服务的评价】</strong>您有义务接受在飞灵教育平台提供的评价系统中对与您达成交易的其他用户对您的服务进行评价。您应当理解，您在飞灵教育平台的评价信息是公开的。您的所有评价如包含任何污言秽语、色情低俗、广告信息及法律法规与本协议列明的其他禁止性信息，请及时与飞灵教育联系，飞灵教育可按照飞灵教育平台规则的相关规定对上述评价信息进行删除或屏蔽，但飞灵教育应您请求而采取的行动可能无法避免或阻止侵害后果的形成或扩大，除飞灵教育存在法定过错外，飞灵教育不承担责任。</p>
            <p><strong>4.4 交易争议处理</strong></p>
            <p><strong>【交易争议处理途径】</strong>您在飞灵教育平台交易过程中与其他用户发生争议的，您或其他用户中任何一方均有权选择以下途径解决：</p>
            <p>（一）与争议相对方自主协商；</p>
            <p>（二）请求消费者协会或者其他依法成立的调解组织调解；</p>
            <p>（三）向有关行政部门投诉；</p>
            <p>（四）根据与争议相对方达成的仲裁协议（如有）提请仲裁机构仲裁；</p>
            <p>（五）向人民法院提起诉讼。</p>
            <p><strong>【平台协调处理服务】</strong>如您与其他用户发生上述交易争议，飞灵教育有义务协调处理，但对最终的处理结果不承担任何法律责任。</p>
            <p><strong>4.5 费用</strong></p>
            <p>飞灵教育为飞灵教育平台向您提供的服务付出了大量的成本，除飞灵教育平台明示的收费业务外，飞灵教育向您提供的服务目前是免费的。如未来飞灵教育向您收取合理费用，飞灵教育会采取合理途径并以足够合理的期限提前通过法定程序并以本协议第八条约定的方式通知您，确保您有充分选择的权利。</p>
            <p><strong>4.6 责任限制</strong></p>
            <p><strong>【不可抗力及第三方原因】</strong>飞灵教育依照法律规定履行基础保障义务，但对于下述原因导致的合同履行障碍、履行瑕疵、履行延后或履行内容变更等情形，飞灵教育并不承担相应的违约责任：</p>
            <p>（一）因自然灾害、罢工、暴乱、战争、政府行为、司法行政命令等不可抗力因素；</p>
            <p>（二）因电力供应故障、通讯网络故障等公共服务因素或第三人因素；</p>
            <p>（三）在飞灵教育已尽善意管理的情况下，因常规或紧急的设备与系统维护、设备与系统故障、网络信息与数据安全等因素。</p>
            <p><strong>【海量信息】</strong>飞灵教育仅向您提供飞灵教育平台服务，您了解飞灵教育平台上的信息系用户自行发布，且可能存在风险和瑕疵。飞灵教育将通过依法建立相关检查监控制度尽可能保障您在飞灵教育平台上的合法权益及良好体验。同时，鉴于飞灵教育平台具备存在海量信息及信息网络环境下信息与实物相分离的特点，飞灵教育无法逐一审查服务的信息，无法逐一审查交易所涉及的服务的质量、安全以及合法性、真实性、准确性，对此您应谨慎判断。</p>
            <p><strong>【调处决定】</strong>您理解并同意，在争议调处服务中，飞灵教育平台的客服、大众评审员并非专业人士，仅能以普通人的认知对用户提交的凭证进行判断。因此，除存在故意或重大过失外，调处方对争议调处决定免责。</p></p>
            <h3><strong>五、 用户信息的保护及授权</strong></h3>
            <p><strong>5.1 个人信息的保护</strong></p>
            <p>飞灵教育非常重视用户个人信息（即能够独立或与其他信息结合后识别用户身份的信息）的保护，在您使用飞灵教育提供的服务时，您同意飞灵教育按照在飞灵教育平台上公布的隐私权政策收集、存储、使用、披露和保护您的个人信息。如客户端未设独立隐私权政策但使用了飞灵教育网账号登陆相应客户端的，为保护您的隐私权，我们将参照适用飞灵教育网隐私权政策的要求对您的个人信息进行收集、存储、使用、披露和保护。飞灵教育希望通过隐私权政策向您清楚地介绍飞灵教育对您个人信息的处理方式，因此飞灵教育建议您完整地阅读隐私权政策（点击此处），以帮助您更好地保护您的隐私权。</p>
            <p><strong>5.2 非个人信息的保证与授权</strong></p>
            <p><strong>【信息的发布】</strong>您声明并保证，您对您所发布的信息拥有相应、合法的权利。否则，飞灵教育可对您发布的信息依法或依本协议进行删除或屏蔽。</p>
            <p><strong>【禁止性信息】</strong>您应当确保您所发布的信息不包含以下内容：</p>
            <p>（一）违反国家法律法规禁止性规定的；</p>
            <p>（二）政治宣传、封建迷信、淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</p>
            <p>（三）欺诈、虚假、不准确或存在误导性的；</p>
            <p>（四）侵犯他人知识产权或涉及第三方商业秘密及其他专有权利的；</p>
            <p>（五）侮辱、诽谤、恐吓、涉及他人隐私等侵害他人合法权益的；</p>
            <p>（六）存在可能破坏、篡改、删除、影响飞灵教育平台任何系统正常运行或未经授权秘密获取飞灵教育平台及其他用户的数据、个人资料的病毒、木马、爬虫等恶意软件、程序代码的；</p>
            <p>（七）其他违背社会公共利益或公共道德或依据相关飞灵教育平台协议、规则的规定不适合在飞灵教育平台上发布的。</p>
            <p><strong>【授权使用】</strong>对于您提供、发布及在使用飞灵教育平台服务中形成的除个人信息外的文字、图片、视频、音频等非个人信息，在法律规定的保护期限内您免费授予飞灵教育获得全球排他的许可使用权利及再授权给其他第三方使用并可以自身名义对第三方侵权行为取证及提起诉讼的权利。您同意飞灵教育存储、使用、复制、修订、编辑、发布、展示、翻译、分发您的非个人信息或制作其派生作品，并以已知或日后开发的形式、媒体或技术将上述信息纳入其它作品内。为方便您使用客户端等其他相关服务，您授权飞灵教育将您在账户注册和使用飞灵教育平台服务过程中提供、形成的信息传递给客户端等其他相关服务提供者，或从客户端等其</p>他相关服务提供者获取您在注册、使用相关服务期间提供、形成的信息。</p>
            <h3><strong>六、 用户的违约及处理</strong></h3>
            <p><strong>6.1 违约认定</strong></p>
            <p>发生如下情形之一的，视为您违约：</p>
            <p>（一）使用飞灵教育平台服务时违反有关法律法规规定的；</p>
            <p>（二）违反本协议或本协议补充协议（即本协议第2.2条）约定的。</p>
            <p>为适应电子商务发展和满足海量用户对高效优质服务的需求，您理解并同意，飞灵教育可在飞灵教育平台规则中约定违约认定的程序和标准。如：飞灵教育可依据您的用户数据与海量用户数据的关系来认定您是否构成违约；您有义务对您的数据异常现象进行充分举证和合理解释，否则将被认定为违约。</p>
            <p><strong>6.2 违约处理措施</strong></p>
            <p><strong>【信息处理】</strong>您在飞灵教育平台上发布的信息构成违约的，飞灵教育可根据相应规则立即对相应信息进行删除、屏蔽处理或对您的服务进行删除、监管。</p>
            <p><strong>【行为限制】</strong>您在飞灵教育平台上实施的行为，或虽未在飞灵教育平台上实施但对飞灵教育平台及其用户产生影响的行为构成违约的，飞灵教育可依据相应规则对您执行账户扣分、限制参加营销活动、中止向您提供部分或全部服务、划扣违约金等处理措施。如您的行为构成根本违约的，飞灵教育可查封您的账户，终止向您提供服务。</p>
            <p><strong>【处理结果公示】</strong>飞灵教育可将对您上述违约行为处理措施信息以及其他经国家行政或司法机关生效法律文书确认的违法信息在飞灵教育平台上予以公示。</p>
            <p><strong>6.3 赔偿责任</strong></p>
            <p>如您的行为使飞灵教育遭受损失（包括自身的直接经济损失、商誉损失及对外支付的赔偿金、和解款、律师费、诉讼费等间接经济损失），您应赔偿飞灵教育的上述全部损失。如您的行为使飞灵教育遭受第三人主张权利，飞灵教育可在对第三人承担金钱给付等义务后就全部损失向您追偿。如因您的行为使得第三人遭受损失或您怠于履行调处决定、飞灵教育出于社会公共利益保护或消费者权益保护目的，可自您的账户中划扣相应款项进行支付。如您的账户余额或保证金不足以支付相应款项的，您同意委托飞灵教育使用自有资金代您支付上述款项，您应当返还该部分费用并赔偿因此造成飞灵教育的全部损失。您同意飞灵教育自您的账户中划扣相应款项支付上述赔偿</p>款项。如您账户中的款项不足以支付上述赔偿款项的，飞灵教育及/或关联公司可直接抵减您在飞灵教育其它协议项下的权益，并可继续追偿。
            <p><strong>6.4 特别约定</strong></p>
            <p><strong>【商业贿赂】</strong>如您向飞灵教育的雇员或顾问等提供实物、现金、现金等价物、劳务、旅游等价值明显超出正常商务洽谈范畴的利益，则可视为您存在商业贿赂行为。发生上述情形的，飞灵教育可立即终止与您的所有合作并向您收取违约金及/或赔偿金，该等金额以飞灵教育因您的贿赂行为而遭受的经济损失和商誉损失作为计算依据。</p>
            <p><strong>【关联处理】</strong>如您因严重违约导致飞灵教育终止本协议时，出于维护平台秩序及保护消费者权益的目的，飞灵教育可对与您在其他协议项下的合作采取中止甚或终止协议的措施，并以本协议第八条约定的方式通知您。如飞灵教育与您签署的其他协议及飞灵教育与您签署的协议中明确约定了对您在本协议项下合作进行关联处理的情形，则飞灵教育出于维护平台秩序及保护消费者权益的目的，可在收到指令时中止甚至终止协议，并以本协议第八条约定的方式通知您。</p></p>
            <h3><strong>七、 协议的变更</strong></h3>
            <p>飞灵教育可根据国家法律法规变化及维护交易秩序、保护消费者权益需要，不时修改本协议、补充协议，变更后的协议、补充协议（下称“变更事项”）将通过法定程序并以本协议第八条约定的方式通知您。如您不同意变更事项，您有权于变更事项确定的生效日前联系飞灵教育反馈意见。如反馈意见得以采纳，飞灵教育将酌情调整变更事项。如您对已生效的变更事项仍不同意的，您应当于变更事项确定的生效之日起停止使用飞灵教育平台服务，变更事项对您不产生效力；如您在变更事项生效后仍继续使用飞灵教育平台服务，则视为您同意已生效的变更事项。</p></p>
            <h3><strong>八、 通知</strong></h3>
            <p><strong>8.1 有效联系方式</strong></p>
            <p>您在注册成为飞灵教育平台用户，并接受飞灵教育平台服务时，您应该向飞灵教育提供真实有效的联系方式（包括您的电子邮件地址、联系电话、联系地址等），对于联系方式发生变更的，您有义务及时更新有关信息，并保持可被联系的状态。您在注册飞灵教育平台用户时生成的用于登陆飞灵教育平台接收系统消息的账号，也作为您的有效联系方式。飞灵教育将向您的上述联系方式的其中之一或其中若干向您送达各类通知，而此类通知的内容可能对您的权利义务产生重大的有利或不利影响，请您务必及时关注。您有权通过您注册时填写的手机号码或者电子邮箱获取您感兴趣的商品广告信息、促销优惠等商业性信息；您如果不愿意接收此类信息，您有权通过飞灵</p>教育提供的相应的退订功能进行退订。
            <p><strong>8.2 通知的送达</strong></p>
            <p>飞灵教育通过上述联系方式向您发出通知，其中以电子的方式发出的书面通知，包括但不限于在飞灵教育平台公告，向您提供的联系电话发送手机短信，向您提供的电子邮件地址发送电子邮件，向您的账号发送系统信息，在发送成功后即视为送达；以纸质载体发出的书面通知，按照提供联系地址交邮后的第五个自然日即视为送达。对于在飞灵教育平台上因交易活动引起的任何纠纷，您同意司法机关（包括但不限于人民法院）可以通手机短信、电子邮件、微信等现代通讯方式或邮寄方式向您送达法律文书（包括但不限于诉讼文书）。您指定接收法律文书的手机号码、电子邮箱或微信号码等联系方式为您在飞灵教育平台注册、更新时提供的手机号码、电子邮箱、微</p>信号码联系方式以及在注册飞灵教育用户时生成的账号，司法机关向上述联系方式发出法律文书即视为送达。您指定的邮寄地址为您的法定联系地址或您提供的有效联系地址。您同意司法机关可采取以上一种或多种送达方式向您达法律文书，司法机关采取多种方式向您送达法律文书，送达时间以上述送达方式中最先送达的为准。您同意上述送达方式适用于各个司法程序阶段。如进入诉讼程序的，包括但不限于一审、二审、再审、执行以及督促程序等。你应当保证所提供的联系方式是准确、有效的，并进行实时更新。如果因提供的联系方式不确切，或不及时告知变更后的联系方式，使法律文书无法送达或未及时送达，由您自行承担由此可能产生的法律后果。</p>
            <h3><strong>九、 协议的终止</strong></h3>
            <p><strong>9.1 终止的情形</strong></p>
            <p><strong>【用户发起的终止】</strong>您有权通过以下任一方式终止本协议：</p>
            <p>（一）在满足飞灵教育网公示的账户注销条件时注销您的账户的；</p>
            <p>（二）变更事项生效前您停止使用并明示不愿接受变更事项的；</p>
            <p>（三）您明示不愿继续使用飞灵教育平台服务，且符合飞灵教育网终止条件的。</p>
            <p><strong>【飞灵教育发起的终止】</strong>出现以下情况时，飞灵教育可以本协议第八条的所列的方式通知您终止本协议：</p>
            <p>（一）您违反本协议约定，飞灵教育依据违约条款终止本协议的；</p>
            <p>（二）您盗用他人账户、发布违禁信息、骗取他人财物、售假、扰乱市场秩序、采取不正当手段谋利等行为，飞灵教育依据飞灵教育平台规则对您的账户予以查封的；</p>
            <p>（三）除上述情形外，因您多次违反飞灵教育平台规则相关规定且情节严重，飞灵教育依据飞灵教育平台规则对您的账户予以查封的；</p>
            <p>（四）您的账户被飞灵教育依据本协议回收的；</p>
            <p>（五）您在飞灵教育网站有欺诈、发布或提供虚假/侵权服务、侵犯他人合法权益或其他严重违法违约行为的；</p>
            <p>（六）其它应当终止服务的情况。</p>
            <p><strong>9.2 协议终止后的处理</strong></p>
            <p><strong>【用户信息披露】</strong>本协议终止后，除法律有明确规定外，飞灵教育无义务向您或您指定的第三方披露您账户中的任何信息。</p>
            <p><strong>【飞灵教育权利】</strong>本协议终止后，飞灵教育仍享有下列权利：</p>
            <p>（一）继续保存您留存于飞灵教育平台的本协议第五条所列的各类信息；</p>
            <p>（二）对于您过往的违约行为，飞灵教育仍可依据本协议向您追究违约责任。</p>
            <p><strong>【交易处理】</strong>本协议终止后，对于您在本协议存续期间产生的交易订单，飞灵教育可通知交易相对方并根据交易相对方的意愿决定是否关闭该等交易订单；如交易相对方要求继续履行的，则您应当就该等交易订单继续履行本协议及交易订单的约定，并承担因此产生的任何损失或增加的任何费用。</p></p>
            <h3><strong>十、 法律适用、管辖与其他</strong></h3>
            <p><strong>【法律适用】</strong>本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国大陆地区法律；如法律无相关规定的，参照商业惯例及/或行业惯例。</p>
            <p><strong>【管辖】</strong>您因使用飞灵教育平台服务所产生及与飞灵教育平台服务有关的争议，由飞灵教育与您协商解决。协商不成时，任何一方均可向中国广东省深圳市罗湖区人民法院提起诉讼。</p>
            <p><strong>【可分性】</strong>本协议任一条款被视为废止、无效或不可执行，该条应视为可分的且并不影响本协议其余条款的有效性及可执行性。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
