<div class="form-group row">
  <% unless local_assigns[:prev_step].nil? %>
  <div class="col-md">
    <button type="button" class="btn btn-link step-navigate" data-target="<%= prev_step %>">上一步</button>
  </div>
  <% end %>
  <div class="col-md">
  <% unless local_assigns[:next_step].nil? %>
    <button type="button" class="btn btn-outline-success float-right step-navigate" data-target="<%= next_step %>"><%= text %></button>
  <% else %>
    <button class="btn btn-outline-success float-right submit"><%= text %></button>
  <% end %>
  </div>
</div>
