<h2>Thanks for your registration and welcome to Feelingjy!</h2>
<div>
  <p>Please fill out the following form to before proceeding</p>
  <%= render(partial: 'form', locals: { user_info: @user_info, method: 'post' }) %>
</div>
