<div class="col-md">
  <h3>Change Log</h3>
  <p>8/28/2017<br>
    <span> - Add "/debug" route to show all registers (only in development env)</span><br>
    <span> - Add feature to upload profile image</span><br>
  </p>
  <p>8/30/2017<br>
    <span> - Add "/instructor" resource: become an instructor or edit instructor profile at bottom of "Manage"</span><br>
  </p>
  <p>9/2/2017<br>
    <span> - Use Bootstrap for pretty UI.</span>
  </p>
  <p>9/3/2017<br>
    <span> - Add modal support for login (click login button on top right corner to see).</span>
  </p>
  <p>
    9/5/2017<br>
    <span> - Add boostrap UI for filling basic user information (work in progress).</span>
  </p>
  <p>
    9/6/2017<br>
    <span> - Finish up UI for filling basic user information (usable, but still need improvement). Will move on to the Instructor part for now.</span>
  </p>
  <p>
    9/10/2017<br>
    <span> - Finish UI for instructor registration.</span>
  </p>
  <p>
    9/11/2017<br>
    <span> - Make instructor application a modal.</span><br>
    <span> - Enter first name and last name when register.</span><br>
    <span> - Preparing for user homepage (not visible yet).</span>
  </p>
  <p>
    9/12/2017<br>
    <span> - Implement part of user personal page (click profile image to see).</span>
  </p>
  <p>
    9/13/2017<br>
    <span> - Move the user home page to edit page, and implement the new user home page.</span>
  </p>
  <p>
    9/14/2017<br>
    <span> - Partly implemented the instructor home page. After registered as an instructor, go to /instructor page to see effect. Navigation to this page will be added later.</span>
  </p>
  <p>
    9/24/2017<br>
    <span> - Search page at /search.</span><br>
    <span> - Basic live chatting between student and instructor.</span>
  </p>
</div>
