<h3>Change Log</h3>
<div>
  <p>8/28/2017<br>
    <span> - Add "/debug" route to show all registers (only in development env)</span><br>
    <span> - Add feature to upload profile image</span><br>
  </p>
  <p>8/30/2017<br>
    <span> - Add "/instructor" resource: become an instructor or edit instructor profile at bottom of "Manage"</span><br>
  </p>
</div>
