<div class="row student-info-step">
  <div class="col-md-12">
    <div class="section-header">
      <h3 >Step 3: Prepare for students now</h3>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block our-terms-agreed custom-checkbox-radios">
            <p class="survey-question">Privacy terms for students</p>
            <%= render partial: 'instructor_infos/steps/shared/privacy_terms', locals: {f: f, lang: lang} %>
          </div>
          <div class="question-block your-terms-agreed custom-checkbox-radios">
            <p class="survey-question">What would you want your students to know about you and the help you provide</p>
            <%= render partial: 'instructor_infos/steps/shared/students_can_know', locals: {f: f, lang: lang} %>
          </div>

          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step12" data-percentage='1%' >上一步</button>
            <button type="button" class="btn btn-primary step-navigate next main-btn pull-right next" data-percentage='17%' data-target="#step14" id="selected-terms">下一步</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="col-md-4 right-panel">
    <div class="green-box elepahnt">
      <%= image_tag "registration/step7_elephent.png"%>
      <p>Besides agreeing with our terms, studens also need to agree with your terms.</p>
      <p>If you feel upset of insecure about the interaction with student, you cancel before setting a time to avoid panelty</p>
    </div>
  </div>
</div>
