<div class="row">
  <div class="col-md-12">
    <div class="section-header">
      <h3>Prepare for students now</h3>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block">
            <p class="survey-question">Just a couple more questions for you</p>
            <p class="">These questions can help you better manage your service and time</p>
          </div>

          <div class="question-block">
            <div class="row">
              <div class="col-md-7">
                <div class="form-group">
                  <%= f.label :tutor_before, "Have you every been a tutor before?" %>
                  <%= f.select :tutor_before, InstructorInfo.tutor_before_options(lang), {}, { class: 'select2' } %>
                </div>
              </div>
            </div>
          </div>
          <div class="question-block">
            <div class="row">
              <div class="col-md-7">
                <div class="form-group">
                  <%= f.label :max_std_count, "How many students do you wish to help at one time?" %>
                  <%= f.select :max_std_count, InstructorInfo.max_std_before_options(lang), {}, { class: 'select2' } %>
                </div>
              </div>
            </div>
          </div>

          <div class="survey-btn-row">
            <div class="row">
              <div class="col-md-7">
                <button type="button" class="btn btn-default step-navigate pull-right" data-target="#step1">上一步</button>
                <button type="button" class="btn btn-primary step-navigate main-btn pull-left next"  data-percentage='60%' data-target="#step4">下一步</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
