<div class="row">
  <div class="col-md-6 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-10">
          <div class="head-sec">
            <h2 class="main-heading">Dear <%= current_user.user_info.first_name%>, let's get started on your profile page.</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="question-block">
            <p class="survey-question">Which school are you from? </p>
            <%= render partial: 'instructor_infos/steps/shared/which_school', locals: {f: f, lang: lang} %>
          </div>
          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step0" data-percentage='1%' >上一步</button>
            <button type="button" class="btn btn-primary step-navigate next main-btn pull-right next"  data-percentage='30%' data-target="#step2" data-percentage="30">下一步</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="col-md-4 right-panel">
    <div class="green-box elepahnt">
      <%= image_tag "registration/step7_elephent.png"%>
      <p>You could earn</p>
      <p class="bold-text">¥ 688</p>
    </div>
  </div>
</div>
