<div class="container">
  <div class="col-md-8">
    <fieldset class="row">
      <div class="col-md-12">
        <div class="head-sec">
          <h2 class="main-heading">
            <!-- 在注册成为飞灵导师之前 -->
            Before Becoming a Tutor on Feiling
          </h2>
        </div>
      </div>
      <div class="col-md-8">
        <p>
          Feiling's founders are Chinese students studying in the U.S. We strive to help Chinese students study abroad. We hope you can join us to help make the application process simpler, clearer, and cheaper.
        </p>
        <p>
          Making tasteful product is the core principle to develop this platform and the main reason to make it work is to make you, my dear tutors to succeed on the platform. The more successful you are, the more meaningful it is for us.
        </p>
        <p>
          We would do our best to give you the best user experience and make money in the easiest way!
        </p>

        <div class="survey-btn-row">
          <button type="button" class="btn btn-primary float-right step-navigate main-btn next" data-target="#step1"  data-percentage='20%'>
            I Agree
          </button>
          <button type="button" class="btn btn-default step-navigate float-left" data-target="#">
            Nope
          </button>
        </div>
      </div>
    </fieldset>
  </div>
</div>
