<div class="row">
  <div class="col-md-12">
    <div class="section-header">
      <h3>Step 3: Prepare for students now</h3>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-10">
          <div class="question-block">
            <p class="survey-question">How many days could students reserve your time in advance?</p>
          </div>

          <div class="question-block">
            <div class="row">
              <div class="col-md-10">
                <%= f.label :reserve_advance, "You could choose to open your time for a while" %>
                <%= f.select :reserve_advance, InstructorInfo.reserve_advance_notify_options(lang), {}, { class: 'select2' } %>
              </div>
            </div>
          </div>

          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step19">上一步</button>
            <button type="button" class="btn btn-primary step-navigate main-btn pull-right next"  data-percentage='65%' data-target="#step22">下一步</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-md-3 right-panel">
    <div class="calendar-box side-by-side">
      <%= image_tag "registration/cal-2k17.png"%>
      <%= image_tag "registration/cal-2k18.png"%>
    </div>
  </div>
</div>
