<div class="row contact-info-wrapper">
  <div class="col-md-12">
    <div class="section-header">
      <h3 >Step 3: Prepare for students now</h3>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block">
            <p class="survey-question">Students can request your help in following way</p>
            <div class="row">
              <div class="col-md-4">
                <div class=" contact-info-box">
                  <%= image_tag "registration/help-way1.png"%>
                  <p>1. Only students who meet all terms and requirements can contact you</p>
                  <p>Any students who want to work with you need to confirm their contact info, payment info, and clarify the help they need.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class=" contact-info-box">
                  <%= image_tag "registration/help-way2.png"%>
                  <p>2. You decide whom to work with</p>
                  <p>You can set all the time you are available. Students who work with you needs to obey all your privacy terms.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class=" contact-info-box">
                  <%= image_tag "registration/help-way3.png"%>
                  <p>3. Only you will be notified when an order is confirmed.</p>
                  <p>You will receive confirmation emails with including the order detail, including order type, personal requirement, etc.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step14">上一步</button>
            <button type="button" class="btn btn-primary step-navigate next main-btn pull-right next" data-percentage='30%' data-target="#step16">下一步</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
