<div class="row">
  <div class="col-md-12">
    <div class="section-header">
      <h3>Step 3: Prepare for students now</h3>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-10">
          <div class="price-range" id="price-range">
          </div>
          <div class="fixed-price" id="fixed-price">
          </div>

          <div class="survey-btn-row">
            <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step22">上一步</button>
            <button type="button" class="btn btn-primary step-navigate main-btn pull-right next"  data-percentage='80%' data-target="#step24">下一步</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-md-3 right-panel">
    <div class="green-box elepahnt">
      <%= image_tag "registration/step7_elephent.png"%>
      <p>You are the one who decides the price, we only make suggestions. Price will influence the amount of students you get and students' reviews.</p>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#price-setter').on('click', function(){
  if($('input[name="instructor_info[recommended_price]"]:checked').val()=="true"){
    $('#price-range').html('')
    $('#fixed-price').html('')
    $('#price-range').append('<%= j render(partial: 'instructor_infos/steps/price/range', locals: {f: f, lang: lang}) %>')
    $( ".select2" ).select2({})
  }
  else{
    $('#fixed-price').html('')
    $('#price-range').html('')
    $('#fixed-price').append('<%= j render(partial: 'instructor_infos/steps/price/fix', locals: {f: f, lang: lang}) %>')
    $( ".select2" ).select2({})
  }
})
</script>
