<div class="row">
  <div class="col-md-12">
    <div class="section-header">
      <h3 >Step 2: Decorate your profile page</h3>
    </div>
  </div>
  <div class="col-md-12 left-panel bg-upload-wrapper">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8 offset-md-1">
                <p class="survey-question">Pick a picture of your school to be on your tutor page!</p>
                <div class="school-bg-img-wrapper">
                  <div class="school-bg-img">
                    <div class="custom-file d-block">
                      <%= f.file_field :page_background, class: " image-input", :'data-target' => '.school-bg-img', :'data-background' => true, accept: 'image/*' %>
                      <%= f.hidden_field :page_background_cache, id: "page_background_cache" %>
                      <span id="page-background-img-name" class="custom-file-control page-bg custom-file-name" data-content="请选择文件...">
                        <%= image_tag "registration/upload-icon-white.png" %>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="survey-btn-row">
                  <button type="button" class="btn btn-default step-navigate pull-left initialize-section" data-target="#step6" data-percentage='100%' data-section="" >上一步</button>
                  <button type="button" class="btn btn-primary step-navigate main-btn pull-right next"  data-percentage='20%' data-target="#step8">下一步</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
