<div class="row">
  <div class="col-md-12">
    <div class="section-header">
      <h3 > Step 1: Please fill in the information below</h3>
    </div>
  </div>
  <div class="col-md-6 left-panel">
    <fieldset class="">
      <div class="row">
        <div class="col-md-12">
          <div class="question-block">
            <p class="survey-question">How many schools have you applied before?</p>
            <div class="row">
              <div class="col-md-8">
                <% InstructorInfo.schools_applied_before_options(lang).each do |option| %>
                  <div class="radio-btns">
                    <label><%= f.radio_button :number_institutes_applied, option[1] %> <%= option[0]%></label>
                  </div>
                <%end%>
              </div>
            </div>
          </div>

          <div class="question-block">
            <div class="form-group">
              <div class="row">
                <div class="col-md-8">
                  <%= f.label :number_institutes_admitted, "How many schools have you been accepted?" %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7">
                  <%= f.select :number_institutes_admitted, InstructorInfo.schools_applied_before_options(lang), {}, { class: 'select2 schools-applied' } %>
                </div>
              </div>
            </div>
          </div>
          <div class="survey-btn-row">
            <div class="row">
              <div class="col-md-7">
                <button type="button" class="btn btn-default step-navigate pull-left" data-target="#step1">上一步</button>
                <button type="button" class="btn btn-primary step-navigate main-btn pull-right next"  data-percentage='60%' data-target="#step4">下一步</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<script type="text/javascript">
$("input[name='instructor_info[number_institutes_applied]']").on('change', function(e){
  $.ajax({
    url: '/instructor/schools_applied.json?idx=' + e.target.value ,
    dataType: 'json',
    success: function (resp) {
      $( ".select2.schools-applied" ).empty()
      $( ".select2.schools-applied" ).select2({})
      $.map(resp, function(key, val){
        var option = new Option(key, val);
        $( ".select2.schools-applied" ).append(option);
      })
    }
  });
})
</script>
