<div class="col-md-8">
  <fieldset class="row">
    <div class="col-md-12">
      <div class="head-sec">
        <h2 class="main-heading">
          <!-- 在注册成为飞灵导师之前 -->
          Before Becoming a Tutor on Feiling
        </h2>
      </div>
    </div>
    <div class="col-md-6">
      <p>
        <!-- 因为曾经想去改变世界但发现自己的能力实在有限，所以成立飞灵是带有使命感的。我想作为留学生的您和我们团队的成员都抱着一份改善留学申请生态环境的心在做这样一件伟大的事。 -->
        Feiling's founders are Chinese students studying in the U.S. We strive to help Chinese students study abroad. We hope you can join us to help make the application process simpler, clearer, and cheaper.
      </p>
      <p>
        <!-- 不论何时，赚钱都不能与改变一个人的命运相提并论，我们每人多付出的一份力也许就在不经意间改变着这个世界。 -->
        Making tasteful product is the core principle to develop this platform and the main reason to make it work is to make you, my dear tutors to succeed on the platform. The more successful you are, the more meaningful it is for us.
      </p>
      <p>
        <!-- 曾经想去改变世界，但发现原来改变世界就在此时此刻，您愿意一同与我们让留学市场变得更纯洁干净吗？ -->
        We would do our best to give you the best user experience and make money in the easiest way!
      </p>

      <div class="survey-btn-row">
        <button type="button" class="btn btn-primary float-right step-navigate main-btn next" data-target="#step1"  data-percentage='15%'>
          <!-- 我愿意 -->
          I Agree
        </button>
        <button type="button" class="btn btn-default step-navigate float-left" data-target="#">
          <!-- 我拒绝 -->
          Nope
        </button>
      </div>
    </div>
  </fieldset>
</div>
