<div class="container">
  <div class="row revenues-wrapper">
    <div class="col-3 lef-nav">
      <ul>
        <li class="active pay-elem" data-attr="#wallet">Wallet</li>
        <li class="pay-elem" data-attr="#pay-method">Payment Method</li>
        <li class="pay-elem" data-attr="#txn-history">Transaction history</li>
        <li class="pay-elem" data-attr="#settings">Setting</li>
      </ul>
    </div>
      <div class="col-9 right-nav">

        <div id="wallet" class="right-wrapper">
          <div class="row">
            <h2>Revenues</h2>
          </div>
          <div class="row revenues">
            <div class="col-3 sub-sec">
              <p class="header">Earned</p>
              <p><span>짜</span> 10000</p>
            </div>
            <div class="col-3 sub-sec">
              <p class="header">Withdrawls</p>
              <p><span>짜</span> 5000</p>
            </div>
            <div class="col-3 sub-sec">
              <p class="header">Pending</p>
              <p><span>짜</span> 1000</p>
            </div>
            <div class="col-3 sub-sec">
              <p class="header">Balance</p>
              <p><span>짜</span> 4000</p>
            </div>
          </div>
        </div>

      <div id="pay-method" class="right-wrapper hidden">
        <div class="row">
          <div class="col-12">
            <h4>Currently, all the money will be deposited to your account manually by us.</h4>
          </div>
        </div>
      </div>

      <div id="txn-history" class="right-wrapper hidden">
      </div>

      <div id="settings" class="right-wrapper hidden">
      </div>
    </div>
  </div>
</div>
