<section class="section mentors-wrapper">
  <div class="container">
    <div class="header">
        <h1>Congratulations!</h1>
        <p>You payment was successful and you can go ahead with your session. Click on the button below to go back to your order screen.</p>
        <br/>
        <br/>
        <%= link_to "Back", consult_transaction_path(params[:consult_tx_id]), class: "btn btn-default" %>
    </div>

  </div>
</section>
