<section class="section payment-confirmation">
  <div class="container">
    <div class="header">
        <h1><%= I18n.t "payment_confirmation.title" %></h1>
        <p><%= I18n.t "payment_confirmation.text" %></p>
        <br/>
        <br/>
        <%= link_to I18n.t("payment_confirmation.login_txt"), consult_transaction_path(params[:consult_tx_id]), class: "btn btn-default" %>
    </div>

  </div>
</section>
