/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*/

$custom-file-text: (
placeholder: (
zh-CN: "选择文件"
),
button-label: (
zh-CN: "浏览"
)
);

@import "bootstrap";

@import "user_infos";

.btn-signup {
  @include button-variant(#fff, $red);
  color: $red;
}

.btn-wechat {
  background-color: $green;//#3cb034;
  color: $white;
  padding: 0 0.75rem;
  text-decoration: none;
  &:hover {
    color: $white;
  }
}

body {
  padding-top: 7rem;
  background-color: #F0F0F0;
}

.main {
  background-color: #FFFFFF;
  padding: 2rem 2.5rem;
}

.text-green {
  color: #10ACB7;
}

.small {
  font-size: 0.8rem;
  padding: 0.3rem 0.45rem;
  margin-bottom: 0rem;
}

.small-col {
  padding-left: 10px;
  padding-right: 10px;
}

.footer {
  padding-top: 3rem;
}

.text-divider {
  text-align: center;
  height: 34px;
  hr {
    margin: -13px auto 10px;
    width: 100%;
  }
  span {
    background-color: #fff;
    display: inline-block;
    padding: 0.5rem 0.5rem 0 0.5rem;
    font-size: 0.8rem;
  }
}

.tight-bottom {
  margin-bottom: 0.25rem;
}

.profile-image-thumbnail {
  border: 3px solid $gray-300;
  @extend .rounded-circle;
  width: 2rem;
  height: 2rem;
}

.profile-image-full {
  border: 3px solid $gray-300;
  @extend .rounded;
  width: 10rem;
  height: 10rem;
}

// support custom file inputs
.custom-file-name:after {
  content: attr(data-content) !important;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem 1rem;
}

.multi-step-form {
  display: none;
}

.current-step {
  display: block !important;
}
