// Place all the styles related to the InstructorInfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timeline-bar {
  $border-width: 2px;
  width: 0;
  height: 75px;
  border: $border-width solid $green;
  margin: 0 1rem 1rem calc(1rem - #{$border-width});
}
.timeline-dot {
  $border-width: 5px;
  width: 0;
  height: 0;
  border: $border-width solid $green;
  border-radius: $border-width;
  margin: 0 1rem 1rem calc(1rem - #{$border-width});
}

.mentor-survey{
  min-height: 800px;
  color: #717070;

  .head-sec{

    h2.main-heading{
      font-size: 40px;
      font-family: helvetica;
      color: #717070;
      margin: 30px 0px 60px 0px;
      line-height: 50px;
    }
  }

  p{
    font-family: helvetica;
    font-size: 17px;
    color: #717070;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .survey-question{
    font-size: 24px;
    line-height: inherit;
    color: #717070;
    margin: 30px 0;
  }

  .survey-btn-row{
    margin-top: 80px;
  }
  label{
    font-size: 20px;
    color: #707171;
  }
  .radio-btns{
    label{
      font-size: 16px;
    }
  }
  .question-block{
    margin-bottom: 30px;
  }

  .right-panel{
    .green-box{
      background-color: #BCE9DC;
      border: 1px solid #96D4C2;

      img{
        max-width: 50px;
      }

      p{
        font-size: 16px;
        margin: 15px 0 5px 0;
      }

      p.bold-text{
        font-size: 24px;
        margin: 10px 0 5px 0;
        color: #4A4A4A;
      }

      &.elepahnt{
        width: 270px;
        margin: 100px auto;
        padding: 20px;
        height: 170px;
      }
    }
  }
}
