/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*/

$custom-file-text: (
placeholder: (
zh-CN: "选择文件"
),
button-label: (
zh-CN: "浏览"
)
);

$primary-green: #50BF9F;
$primary-red: #E35F5F;
$main-text-color: #717070;
$main-text-color-light: #a4a4a4;
$question-text: #4A4A4A;
// $border-color: #AAA8A8;
$border-color: #E0DBDB;

$theme-green: #2dbd90;
$theme-blue: #588fcc;

$grey-background: #F0F0F0;
$active-grey-background: #E0DBDB;

// vendor
@import "bootstrap";
@import "slider";
@import "bootstrap-multiselect";
@import "font-awesome";

@import "attachments";
@import "chat_lines";
@import "instructor_infos";
@import "messages";
@import "search";
@import "user_infos";
@import "users";

body {
  padding-top: 72px;
  background-color: #F0F0F0;
}

.main-content {
  background-color: #FFFFFF;
  // padding: 2rem 2.5rem;
}

.text-green {
  color: #10ACB7;
}

.footer {
  padding-top: 3rem;
}

// support custom file inputs
.custom-file-name:after {
  content: attr(data-content) !important;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem 1rem;
}

.tight-bottom {
  margin-bottom: 0.25rem;
}

.profile-image-thumbnail {
  border: 1px solid $gray-300;
  @extend .rounded-circle;
  width: 22px;
  height: 22px;
}
.profile-image-full {
  border: 3px solid $gray-300;
  @extend .rounded;
  width: 10rem;
  height: 10rem;
}

// not shown until navigation reaches it
.multi-step-form {
  display: none;
  // position: absolute;
  // -webkit-transition: opacity 600ms, visibility 600ms;
  // transition: opacity 600ms, visibility 600ms;
  // opacity: 0;
  // visibility: hidden;
}
.current-step {
  display: block !important;
  // transition: display 1s;
  // visibility: visible;
  // opacity: 1;
}

.editable-image-preview {
  max-width: 100%;
  display: block;
  margin: auto;
}

// remove dropdown menu caret on navigation bar
.no-caret:after {
  display: none;
}

.thin-scrollbar {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
}

// show border and overlay fog when hover
.clickable {
  position: relative;
  border: 5px solid transparent;
  border-radius: 5px;
  &:hover {
    border-color: lighten($theme-blue, 30%);
    &:after {
      content: "\A";
      pointer-events: none;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.2);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

// overlay non-clickable when hover
// useful because we only modify the container: the object beneath is not affected
// we can show the same underlying object on both general user and owner of the page
// but only show the container to the page owner.
.nonclickable:hover:after {
  pointer-events: all;
}

.editable {
  @extend .clickable;
}

// When this container is hoverred, a .hover-btn will be shown.
.hover-btn-container {
  position: relative;
  & .hover-btn {
    display: none;
  }
  &:hover .hover-btn {
    display: block;
  }
}

.pos-tr {
  position: absolute;
  right: 0;
  top: 0;
}

.fs-80 {
  font-size: 0.8rem;
}


// buttons styling
.btn-primary{
  background-color: $primary-green;
  color: #fff;
  border: 0px;
  border-radius: 0;
  padding: 10px 30px;
  min-height: 43px;
  cursor: pointer;

  &:hover{
    background-color: $primary-green!important;
    opacity: .8;
  }
}

.btn-default{
  background-color: #fff;
  color: $primary-green;
  border: 1px solid $primary-green;
  border-radius: 0;
  padding: 10px 30px;
  min-height: 43px;
  cursor: pointer;

  &:hover{
    background-color: rgba(80, 191,159, .05);
  }
}

.btn-danger{
  background-color: $primary-red;
  color: #fff;
  border: 0px;
  border-radius: 0;
  padding: 10px 30px;
  min-height: 43px;
  cursor: pointer;

  &:hover{
    background-color: $primary-red!important;
    opacity: .8;
  }
}


// select box styling
select{
  background-color: #fff;
  color: #B6C1CD;
  font-size: 15px;
  font-weight: lighter;
  width: 100%;
  min-height: 43px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  border: 1px solid #AAA8A8;
}

// textarea
textarea{
  border-radius: 0px;
  -webkit-border-radius: 0px;
  border: 1px solid #AAA8A8;
  width: 100%;
  padding: 10px;
  color: $main-text-color;
}

// multi select box styling
.multiselect-container > li {
  &:hover{
    background-color: rgba(80, 191,159, .05);
  }
  & > a > label {
    padding: 5px 5px;
    color: #B6C1CD;
    font-size: 13px;
    font-weight: lighter;
  }
}
.multiselect{
  &.btn-default{
    background-color: #fff;
    color: #B6C1CD;
    min-width: 100%;
    min-height: 43px;
    border-radius: 0px;
    border: 1px solid #AAA8A8;
  }
}

// progress bar customizations
.progress{
  position: fixed;
  top: 107px;
  width: 100%;
  z-index: 11;
  height: 10px;
  // background-color: rgba(238,248,245,1);

  .progress-bar{
    background-color: $primary-green!important;
    height: 10px;
    border-radius: 10px;
  }
  &.sec2{
    // background-color: rgba(252,239,239,1)!important;
    .progress-bar{
      background-color: $primary-red!important;
    }
  }
  &.sec3{
    // background-color: rgba(252,239,239,1)!important;
    .progress-bar{
      background-color: $primary-green!important;
    }
  }
}

// Select 2 customizations
.select2.select2-container{
  width: 100%!important;

  // &:focus{
  //   outline: none!important;
  // }

  .select2-selection.select2-selection--single{
    height: 43px;
    border-radius: 1px;

    .select2-selection__rendered{
      line-height: 43px;
      color: #707171;
    }
    &:focus{
      outline: none!important;
    }
  }
  .select2-results__option{

    &:hover{
      background-color: $primary-red!important;
      color: #fff!important;
    }
  }
  .select2-selection__arrow{
    height: 40px!important;
  }
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: $primary-red!important;
  color: #fff!important;
}
.select2-container--default .select2-results__option[aria-selected=true]{
  background-color: rgba(227,95,95,.6)!important;
  color: #fff!important;
}

.select2-selection--multiple{
  border: 1px solid $border-color;
  height: 43px;

  .select2-selection__rendered{
    .select2-selection__choice{
      background-color: #fff!important;
      border: 1px solid $primary-red !important;
      color: $primary-red !important;
      font-size: 12px;
      padding: 5px!important;

      .select2-selection__choice__remove{
        color: $primary-red;
      }
    }
    .select2-search__field{
      display: none;
    }
  }
}

input:focus{
  outline: none !important;
  box-shadow: none!important;
  border: 1px solid $primary-green!important;
}
input[type=file]:focus{
  border: 0px !important;
}

input[type="text"],input[type="password"],input[type="email"],input[type="number"], select, button{
  height: 43px;
  margin-bottom: 12px;
  border: 1px solid $border-color;
  border-radius: 0px;
}
input[type="text"],input[type="password"],input[type="email"],input[type="number"], select{
  width: 100%;
  padding: 10px;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 10px;
}

.devise-errors{
  .error-heading{
    color: #E25F5F;
    font-size: 14px;
  }
  ul{
    li{
      font-size: 12px;
      color: #E25F5F;
    }
  }
}


::-webkit-input-placeholder {
  color: #B6C1CD;
  font-size: 15px;
  font-weight: lighter;
}
::-moz-placeholder{
  color: #B6C1CD;
  font-size: 15px;
  font-weight: lighter;
}
:-ms-input-placeholder{
  color: #B6C1CD;
  font-size: 15px;
  font-weight: lighter;
}
:-moz-placeholder{
  color: #B6C1CD;
  font-size: 15px;
  font-weight: lighter;
}

.registration-error{
  width: 260px;
  border: 1px solid rgb(227, 95, 95);
  padding: 10px;
  border-radius: 5px;
  /* background-color: rgba(297,95,95,.04); */
  color: #E35F5F;
  position: fixed;
  top: 120px;
  right: 40px;
  z-index: 99999;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}
*:focus{
  // border: 1px solid $border-color;
}
.snack-bar-error{
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: $primary-red; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  // -webkit-animation: fadout 0.5s;//, fadeout 0.5s 2.5s;
  // animation: fadout 0.5s;

  &.show{
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s;//, fadeout 0.5s 2.5s;
    animation: fadein 0.5s;//, fadeout 0.5s 2.5s;
  }
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.custom-checkbox-radios{

  input[type=radio], input[type=checkbox]{
    visibility: hidden;
    width: 0;
    margin: 0;

    label{
      color: $primary-green;
      cursor: pointer!important;
      position: relative;
      font-weight: 400;
      margin: 0px;
      line-height: normal;
    }
  }

  input[type=radio] + label:before{

    content: " ";
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 2px solid $border-color;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    border-radius: 100%;
  }
  input[type=radio] + label:hover:before{
    border-color: $primary-green;
  }
  input[type=radio]:checked + label:before{
    border-color: $primary-green;
  }
  input[type=radio]:checked + label::after{
    display: block;
    content: "\F111";
    color: $primary-green;
    font: normal normal normal 12px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    margin-left: 5px;
    z-index: 2;
    margin-top: -16px;
  }

  // Checkbox
  input[type=checkbox] + label:before{

    content: " ";
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px solid $border-color;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    // border-radius: 100%;
  }
  input[type=checkbox] + label:hover:before{
    border-color: $primary-green;
  }
  input[type=checkbox]:checked + label:before{
    border-color: $primary-green;
    background-color:  $primary-green;
  }
  input[type=checkbox]:checked + label::after{
    display: block;
    content: "\F00C";
    color: #fff;
    font: normal normal normal 12px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    margin-left: 4px;
    z-index: 2;
    margin-top: -16px;
  }
}

span.error{
  color: red;
  font-size: 12px;
}
span.char-info{
  font-size: 12px;
  color: $border-color;
}

.pos-rel{
  position: relative;
}
