// Place all the styles related to the user_wallets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.revenues-wrapper{
  padding: 50px 0;

  .lef-nav{
    ul{
      li{
        line-height: 30px;
        font-size: 16px;
        // color: #666;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;

        &:hover{
          color: #000;
        }

        &.active{
          color: #000;
        }
      }
    }
  }

  .right-nav{
    h2{
      // color: rgba(0, 0, 0, 0.5);
      margin-bottom: 15px;
    }

    .revenues{
      padding: 15px;
      border: 1px solid #ccc;
      text-align: center;

      .sub-sec{
        border-right: 1px solid #ccc;

        &:last-child{
          border-right: none;
        }

        p{
          font-size: 20px;
          color: #000;
          font-weight: bold;

          span{
            font-size: 12px;
          }

          &.header{
            color: rgba(0, 0, 0, 0.5);
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
  .right-wrapper{
    h4{
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
