<div class="terms-wrapper">
  <div class="close modal-cross" data-dismiss="modal" aria-label="Close"> <%= image_tag "multiply.png"%></div>

  <div class="head-sec">
    <h2 class="terms-heading">
      Before you join
    </h2>
  </div>
  <p>
    Feiling's founders are Chinese students studying in the U.S. We strive to help Chinese students study abroad. We hope you can join us to help make the application process simpler, clearer, and cheaper.
  </p>
  <p>
    Making tasteful product is the core principle to develop this platform and the main reason to make it work is to make you, my dear tutors to succeed on the platform. The more successful you are, the more meaningful it is for us.
  </p>
  <p>
    We would do our best to give you the best user experience and make money in the easiest way!
  </p>
  <div class="survey-btn-row">
    <button type="button" class="btn btn-primary step-navigate pull-right" data-target="#step1" data-percentage='1%' >Accept</button>
    <button type="button" class="btn btn-default step-navigate next main-btn pull-left next"  data-percentage='30%' data-target="#step2" data-percentage="30">Decline</button>
  </div>
</div>
