<% for type in [:notice, :info, :warning, :alert] %>
  <% # handle the inconsistency between bootstrap and rails %>
  <% css_class = { notice: :success, alert: :danger }[type] || type %>
  <% if flash[type] %>
    <div class="row">
      <div class="col alert alert-<%= css_class %>" role="alert">
        <span><%= flash[type] %></span>
        <a href="javascript:void(0)" class="close" onclick="$('#flash').remove()">&times;</a>
      </div>
    </div>
    <script type="text/javascript">
    setTimeout(function(){
      $('#flash').remove()
    },4000)
    </script>
  <% end %>
<% end %>
