<% for type in [:notice, :info, :warning, :alert] %>
  <% # handle the inconsistency between bootstrap and rails %>
  <% css_class = { notice: :success, alert: :danger }[type] || type %>
  <% if flash[type] %>
    <div class="row">
      <div class="col alert alert-<%= css_class %>" role="alert">
        <span><%= flash[type] %></span>
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  <% end %>
<% end %>
