<footer>
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <h4><a href="#">Terms &amp; Conditions</a></h4>

          <div class="body">
            <p><img src="images/location-green.png" alt=""> <span>Department Southern Road Takakuji China Xidong Province Shenzhen City</span></p>

            <p><img src="images/phone-green.png" alt=""> <span>400-123-4567</span></p>
          </div>
        </div>

        <div class="col-sm-5 text-right">
          <div class="email-date">
            <h4><a href="#">FeilingEducatio@idealens.com</a></h4>
            <p>From Monday to Friday 9:00-18:00(SGT)</p>

            <div class="dropdown">
              <a href="#" id="footer-language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/flag/usa.jpg" alt=""> English <i class="fa fa-angle-down"></i></a>

              <div class="dropdown-menu top-bar-drop" aria-labelledby="footer-language">
                <a class="dropdown-item" href="#"><img src="images/flag/usa.jpg" alt=""> English</a>
                <a class="dropdown-item" href="#"><img src="images/flag/china.jpg" alt=""> Chinese</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-footer">
    <div class="container text-right">
      Copyright ©  Feiling Education ™ 2010-2017 All rights reserved.
    </div>
  </div>
</footer>
