<% local = session[:locale] || "en" %>
<div class="col-md-4 col-sm-6 instructor-profile-box">
  <%= link_to university_path(university) do %>
    <div class="div-bg">
      <div class="img" style="background-image: url('<%= university.cover_photo.try(:image).try(:url)%>');">
        <div class="location-new">
          <%= spec_list = university.name local %>
        </div>
      </div>
    </div>
  <%end%>
</div>
