<% local = session[:locale] || "en" %>
<% lang = I18n.locale %>
<div class="container departments">
  <div class="row">
    <div class="col-12">
      <div class="profile-main">
        <div class="header" style="">
          <p class="title"><%= @university.name %></p>
          <div class="img" style="background-image: url('<%= @university.cover_photo.try(:image).try(:url) %>');">
          </div>
        </div>

        <div class="row contact-info">
          <div class="col-12"><h3 class="title green">Introduction</h3></div>
          <div class="col-sm-12">
            <div class="inner">
              <h5><%= @university.description local %></h5>
            </div>
          </div>
        </div>

        <div class="row mentors">
          <div class="col-12"><h3 class="title green">Departments</h3></div>
          <% @university.departments.each do |department|%>
            <%= render partial: 'department', locals: { department: department } %>
          <%end%>
        </div>
      </div>
    </div>
  </div>



</div>
